*.pyc
*.swp
*static*
*staticfiles*
*pycache*
*media*
.project
.pydevproject
*.mo
*.sqlite
*settings_*
*.backup.bin
*.backup
dump

# ignore pycharm files
*.idea

# ignore visual studio
*.pyproj
*.suo
*.user
snc.sln

#ignore sublime
*.sublime*

# ignore vscode files
**/.vscode

**/.env
**/.cache

.pytest_cache
.tox

.coverage
