*.pyc
*.swp
*static*
*staticfiles*
*pycache*
*media*
.project
.pydevproject
*.mo
*.sqlite
*migrations*
*settings_*
manage.py
snc/wsgi.py

# ignore pycharm files
*.idea

# ignore visual studio
*.pyproj
*.suo
*.user
snc.sln

#ignore sublime
*.sublime*

