-i https://pypi.python.org/simple
cairocffi==0.9.0
cairosvg==2.2.1 ; python_version >= '3.0'
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cssselect2==0.2.1
defusedxml==0.5.0
django-autocomplete-light==3.3.2
django-ckeditor==5.6.1
django-cors-headers==2.2.0
django-environ==0.4.4
django-filter==2.0.0
django-js-asset==1.1.0
django-localflavor==2.0
django-render-block==0.5
django-templated-email==2.2.0
django-weasyprint==0.5.4
django-widget-tweaks==1.3
django==2.0.8
djangorestframework-csv==2.1.0
djangorestframework-xml==1.3.0
djangorestframework==3.8.2
git+https://github.com/Artory/drf-hal-json@4468a08ee451590b255d5283432ad388d4eacc12#egg=drf-hal-json
html5lib==1.0.1
idna==2.6
itypes==1.1.0
jinja2==2.9.6
markupsafe==1.0
openapi-codec==1.3.2
pdfrw==0.4
pillow==5.3.0
psycopg2-binary==2.7.5
pycparser==2.19
pyphen==0.9.5
pytz==2018.5
raven==6.9.0
requests==2.19.1
six==1.11.0
tinycss2==0.6.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.23
uwsgi==2.0.17.1
weasyprint==0.42.3
webencodings==0.5.1
xlsxwriter==1.0.2
xlwt==1.3.0
