-i https://pypi.python.org/simple
certifi==2017.7.27.1
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.5.0
django-autocomplete-light==3.2.10
django-ckeditor==5.5.0
django-cors-headers==2.2.0
django-environ==0.4.4
django-extensions==2.0.7
django-filter==1.1.0
django-js-asset==1.1.0
django-localflavor==2.0
django-widget-tweaks==1.3
django-wkhtmltopdf==2.0.2
django==2.0.6
djangorestframework-csv==2.1.0
djangorestframework-filters==0.10.2
djangorestframework-xml==1.3.0
djangorestframework==3.7.7
git+https://github.com/Artory/drf-hal-json#egg=drf-hal-json
idna==2.6
itypes==1.1.0
jinja2==2.9.6
markupsafe==1.0
openapi-codec==1.3.2
psycopg2-binary==2.7.5
pytz==2018.4
raven==6.9.0
requests==2.19.1
six==1.11.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.23
xlsxwriter==1.0.2
xlwt==1.3.0
