<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" dir="ltr">

<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Sistema Nacional de Cultura{% endblock title %}</title> {% load staticfiles %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{% static 'img/touch_icon.png' %}">

  <!-- Plone CSS - only for preview, will be removed in rules.xml -->
  <link media="screen" href="{% static 'css/plone.css' %}" type="text/css" rel="stylesheet" id="plone-css">

  <!-- Theme CSS - only for preview, will be removed in rules and added in CSS registry -->
  <link media="all" href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet" id="main-css">
  <link media="all" href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/leaflet.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body align="justify">

  <!-- BARRA DO GOVERNO FEDERAL -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
      <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
  </div>

  <div id="wrapper">

    <!-- HEADER -->

    <div id="header" role="banner">

      <div>

        <ul id="accessibility">
          <li>
            <a accesskey="1" href="#acontent" id="link-conteudo">
                            Ir para o conteúdo
                            <span>1</span>
                        </a>
          </li>
          <li>
            <a accesskey="2" href="#anavigation" id="link-navegacao">
                            Ir para o menu
                            <span>2</span>
                        </a>
          </li>
          <li>
            <a accesskey="3" href="#SearchableText" id="link-buscar">
                            Ir para a busca
                            <span>3</span>
                        </a>
          </li>
          <li>
            <a accesskey="4" href="#afooter" id="link-rodape">
                            Ir para o rodapé;
                            <span>4</span>
                        </a>
          </li>
        </ul>

        <ul id="portal-siteactions">
          <li>
            <a href="#">Acessibilidade</a>
          </li>
          <li>
            <a href="#">Alto Contraste</a>
          </li>
          <li>
            <a href="#">Mapa do Site</a>
          </li>
        </ul>

        <div id="logo">
          <a href="{% url 'adesao:index' %}" title="#">
            <span id="portal-title">Sistema Nacional de Cultura</span>
            <span id="portal-description" style="color:#FC0">Ministério da Cultura</span>
          </a>

        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div id="social-icons">
          <ul>
            <li id="portalredes-facebook" class="portalredes-item">
              <a href="https://www.facebook.com/pages/ArticulaMinc/1595363034014002" title="Facebook" target="_blank">
              </a>
            </li>
            <li id="portalredes-twitter" class="portalredes-item">
              <a href="https://twitter.com/ArticulaMINC" title="Twitter" target="_blank">
              </a>
            </li>
            <li id="portalredes-youtube" class="portalredes-item">
              <a href="https://www.youtube.com/channel/UC3cNjlfoG5jUV3sHcfhD9Vg" title="Youtube" target="_blank">
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div id="sobre">
        <ul>
          <li id="link-sobre">
            <a href="#">Sobre o SNC</a>
          </li>
          |
          <li>
            <a href="{% url 'adesao:consultar' tipo='municipio' %}">Consultar Informações</a>
          </li>
          |
          <li id="link-sobre">
            <a href="http://www.cultura.gov.br/documents/10883/1289124/microsoft-word-nova-plataforma-perguntas-frequentes-_2_.pdf/798876e0-902c-4346-96f9-cbf76c097554" target="_blank">Perguntas frequentes</a>
          </li>
          |
          <li id="link-central">
            <a href="{% url 'adesao:faleconosco' %}">Fale conosco</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- content -->

    <div id="main" role="main">
      <div id="plone-content">
        <!-- Demo Plone Content -->
        <div id="portal-columns" class="row">
          <div id="viewlet-above-content">
            <div id="portal-breadcrumbs">
              <span id="breadcrumbs-you-are-here">
                Seja bem-Vind@
              </span>
              <span id="breadcrumbs-home">
                <a href="{% url 'adesao:home' %}">{{ request.user.usuario.nome_usuario }}</a>
                <span class="breadcrumbSeparator">/</span>
              </span>
              <!--<span id="breadcrumbs-1" dir="ltr">
                <span id="breadcrumbs-current"> teste</span>
              </span>-->
            </div>
          </div>

          <!-- Column 1 -->
          <div id="navigation">
            <a name="anavigation" id="anavigation"></a>
            <span class="menuTrigger">Menu</span>
            <div id="portal-column-one" class="cell width-1:4 position-0">
              {% if request.user.is_authenticated %}
                <div class="portletWrapper" id="" data-portlethash="">
                  <dl class="portlet portletNavigationTree">
                    <dt class="portletHeader">
                      <span class="portletTopLeft"></span>
                      <a href="#" class="tile ui-droppable">Menu Principal</a>
                      <span class="portletTopRight"></span>
                    </dt>
                    <dd class="portletItem lastItem">
                      <ul class="navTree navTreeLevel0">
                        <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-a">
                          <a href="{% url 'adesao:home' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                            <span>Início</span>
                          </a>
                        </li>
                        <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-b">
                          <a href="{% url 'adesao:cadastrar_sistema' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                            <span>Criar Novo Ente Federado</span>
                          </a>
                        </li>
                        {% if request.session.sistemas %}
                          <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-b">
                            <a class="state-published navTreeFolderish contenttype-folder"><span>Ente Federado</span></a>
                            {% for sistema in request.session.sistemas %}
                              <div class="list-group">
                                <a href="{% url 'adesao:define_sistema_sessao' sistema=sistema.id %}" title="" class="list-group-item state-published navTreeFolderish contenttype-folder">
                                  <span>{{ sistema.ente_federado__nome }}</span>
                                </a>
                              </div>
                            {% endfor %}
                          </li>
                        {% endif %}
                        {% if request.session.sistema_cultura_selecionado %}
                          {% if request.session.sistema_cultura_selecionado.estado_processo in "01367" %}
                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-b">
                              <a href="{% url 'adesao:alterar_sistema' pk=request.session.sistema_cultura_selecionado.id %}" title="" class="state-published navTreeFolderish contenttype-folder">
                                <span>Alterar Ente Federado</span>
                              </a>
                            </li>
                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-c">
                              {% if request.session.sistema_cultura_selecionado.secretario %}
                                <a href="{% url 'adesao:alterar_funcionario' pk=request.session.sistema_cultura_selecionado.secretario tipo='secretario' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                              {% else %}
                                <a href="{% url 'adesao:cadastrar_funcionario' sistema=request.session.sistema_cultura_selecionado.id tipo='secretario' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                              {% endif %}
                                <span>Interlocutor</span>
                              </a>
                            </li>
                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-d">
                              {% if request.session.sistema_cultura_selecionado.responsavel %}
                                <a href="{% url 'adesao:alterar_funcionario' pk=request.session.sistema_cultura_selecionado.responsavel tipo='responsavel' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                              {% else %}
                                <a href="{% url 'adesao:cadastrar_funcionario' sistema=request.session.sistema_cultura_selecionado.id tipo='responsavel' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                              {% endif %}
                                <span>Responsável</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if request.session.sistema_cultura_selecionado.estado_processo in "13" %}
                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-d">
                              <a href="{% url 'adesao:minuta' %}" title="" class="state-published navTreeFolderish contenttype-folder" target="_blank">
                                <span>Acordo de Cooperação</span>
                              </a>
                            </li>
                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-d">
                              <a href="{% url 'adesao:solicitacao' %}" title="" class="state-published navTreeFolderish contenttype-folder" target="_blank'">
                                <span>Termo de Solicitação</span>
                              </a>
                            </li>
                          {% endif %}
                          {% if request.session.sistema_cultura_selecionado.estado_processo == '6' %}
                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-d">
                              <a href="{% url 'planotrabalho:planotrabalho' request.session.sistema_cultura_selecionado.id %}" title="" class="state-published navTreeFolderish contenttype-folder but-warning">
                                <span>Plano de Trabalho</span>
                              </a>
                            </li>

                            <li class="navTreeItem visualNoMarker navTreeFolderish section-assunto-d">
                              <a  href="{% url 'planotrabalho:listar_conselheiros' %}" title="" class="state-published navTreeFolderish contenttype-folder ">
                                <span>Conselheiros</span>
                              </a>
                            </li>
                          {% endif %}
                        {% endif %}
                      </ul>
                      <span class="portletBottomLeft"></span>
                      <span class="portletBottomRight"></span>
                    </dd>
                  </dl>
                </div>
              {% endif %}
              {% block menu %}
              {% endblock menu %}
              {% if request.user.is_authenticated %}
              <div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
                <dl class="portlet portletNavigationTree">
                  <dt class="portletHeader">
                    <span class="portletTopLeft"></span>
                    <a href="#" class="tile ui-droppable">Configurações</a>
                    <span class="portletTopRight"></span>
                  </dt>
                  <dd class="portletItem lastItem">
                    <ul class="navTree navTreeLevel0">
                      <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
                        <a href="{% url 'mudar_senha' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                          <span>Alterar Senha</span>
                        </a>
                      </li>
                      <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-b">
                        <a href="{% url 'adesao:logout' %}" title="" class="state-published navTreeFolderish contenttype-folder">
                          <span>Sair</span>
                        </a>
                      </li>
                    </ul>
                    <span class="portletBottomLeft"></span>
                    <span class="portletBottomRight"></span>
                  </dd>
                </dl>
              </div>
              {% endif %}
            </div>
          </div>

          <!-- Conteudo -->
          <div id="portal-column-content" class="cell width-1:2 position-1:4">
            <a name="acontent" id="acontent"></a>

            <div id="main-content" class="">

              <div id="content">{% block content %}{% endblock content %}</div>
            </div>
          </div>

          {% block content2 %}{% endblock content2 %}

            <!-- Column 2 -->
            {% if request.session.sistema_cultura.estado_processo == '1' %}
            <div id="portal-column-two" class="cell width-1:4 position-3:4">

                <div id="" class="portletWrapper kssattr-portlethash">
                    <dl class="portlet portletNews">
                        <dt class="portletHeader">
                            <span class="portletTopLeft">
                            <a href="#" class="tile">Aviso Importante</a> </span>
                            <span class="portletTopRight"></span>
                        </dt>





                        <dd class="portletFooter">
                            <span class="portletBottomLeft"></span>
                            <a href="#">Seu prazo para o envio é de até 60 dias corridos.</a>
                            <span class="portletBottomRight"></span>
                        </dd>
                    </dl>
                </div>

            </div>
            {% endif %}

        </div>

        <!-- /Demo Plone Content -->

        </div>

        <div class="clear"></div>
        <div id="voltar-topo">
          <a href="#wrapper">Voltar para o topo</a>
        </div>

      </div>

      <!-- Footer -->
      <div id="footer" role="contentinfo">
        <a name="afooter" id="afooter"></a>
        <div class="clear"></div>
        <div id="footer-brasil">
        </div>
      </div>
      <div id="extra-footer">
        <p>
          Ministério da Cultura -
          <a href="#">MinC - 2018</a>
        </p>
      </div>

    <!-- /Footer-->
    <!-- Script da Barra do Governo -->
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery.formatter.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/datepicker-pt-BR.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").prepend('<div id="overlay" style="height: 100%; width: 100%; opacity: 0.3; z-index: 100; position: fixed; background: url({% static "img/spinner.gif"%}) no-repeat center center; background-color: gray; display: none;"></div>');

        $(".add").click(function() {
          $(".telefone2").fadeIn();
        });

        $(".add2").click(function() {
          $(".telefone3").fadeIn();
        });

        $(".date").datepicker({
          showButtonPanel: true,
          regional: "pt-BR"
        });

        $('#id_confirmar_email').bind("cut copy paste", function(e) {
          e.preventDefault();
        });

        {% verbatim %}
        $(".cnpj").formatter({
          'pattern': '{{99}}.{{999}}.{{999}}/{{9999}}-{{99}}',
          'persistent': false,
        });
        $(".cpf").formatter({
          'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
          'persistent': false,
        });
        $(".cep").formatter({
          'pattern': '{{99}}.{{999}}-{{999}}',
          'persistent': false,
        });
        // $(".telefone").formatter({
        //   'pattern': '({{99}}){{99999}}-{{9999}}',
        //   'persistent': false,
        // });

        $(".telefone").mask('(00)00000-0000')

        {% endverbatim %}
      });
      $("form").submit(function() {
        $('.telefone').unmask();
        $('#overlay').show();
        return true;
      });
    </script>
    {% block js %} {% endblock js %}
    <script defer src="http://barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>

</html>
