<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema Nacional de Cultura</title>

  {% load staticfiles %}

  <!-- CSS Externo -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">

  <!-- Custom style -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Javascripts -->
  <script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.formatter.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/datepicker-pt-BR.js' %}"></script>
</head>

<body>
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
      <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
  </div>

<!-- navegação -->
{% url 'adesao:municipio' as url_municipio %}
{% url 'adesao:alterar_municipio' as url_alt_municipio %}
{% url 'adesao:responsavel' as url_responsavel %}
{% url 'adesao:alterar_responsavel' as url_alt_responsavel %}
{% url 'adesao:secretario' as url_secretario %}
{% url 'adesao:alterar_secretario' as url_alt_secretario %}
{% url 'adesao:minuta' as url_minuta %}
{% url 'adesao:solicitacao' as url_solicitacao %}

{% if request.user.usuario %}

  <div style="padding:10px">
    <ul class="nav nav-tabs">

      <li role="presentation" {% if request.path == '/adesao/home/' %} class="active" {% endif %}><a href="{% url 'adesao:home' %}">Início</a></li>
      <li role="presentation" {% if request.path == url_municipio or request.path in url_alt_municipio %} class="active" {% endif %}><a href="{% url 'adesao:municipio' %}">Instituição</a></li>
      <li role="presentation" {% if request.path == url_secretario or request.path in url_alt_secretario %} class="active" {% endif %}><a href="{% url 'adesao:secretario' %}">Interlocutor</a></li>
      <li role="presentation" {% if request.path == url_responsavel or request.path in url_alt_responsavel %} class="active" {% endif %}><a href="{% url 'adesao:responsavel' %}">Responsável</a></li>
      {% if request.user.usuario.estado_processo == '1' %}
      <li role="presentation" class="dropdown" {% if request.path == url_minuta or request.path == url_solicitacao %} class="active" {% endif %}>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Imprimir <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" {% if request.path == url_minuta %} class="active" {% endif %}><a href="{% url 'adesao:minuta' %}">Acordo de Cooperação</a></li>
            <li role="presentation" {% if request.path == url_solicitacao %} class="active" {% endif %}><a href="{% url 'adesao:solicitacao' %}">Termo de Solicitação</a></li>
        </ul>
      {% endif %}
      <li role="presentation"><a href="{% url 'planotrabalho:planotrabalho' request.user.usuario.plano_trabalho.id %}">Plano de Trabalho</a></li>
      <li role="presentation" class="dropdown" >
        <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          {{ request.user.usuario.nome_usuario }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" ><a href="{% url 'mudar_senha' %}"> Alterar Senha </a></li>
            <li role="presentation" ><a href="{% url 'adesao:logout' %}"> Sair </a></li>
        </ul>
      </li>
    </ul>
  </div>
{% endif %}
<div class="container">
{% block content %} {% endblock content%}
  <footer class="footer">
      {% block footer %}
        <address>
          <strong>Ministério da Cultura</strong>
          <br><strong>SAI - Secretaria de Articulação Institucional</strong>
          - Edifício Parque Cidade Corporate – SCS, Quadra 09, Lote C, Torre B, 10º Andar
          <br> CEP: 70308-200 Brasília-DF - (61) 2024-2325 <a href="mailto:acordosnc@cultura.gov.br"> acordosnc@cultura.gov.br</a>
        </address>
      {% endblock footer %}
  </footer>
</div>


        <script type="text/javascript">
          $(document).ready(function() {
            $("#radio_municipio").click(function(){
              if(!$("#form_estado").hasClass('hide')) {
                $("#form_estado").addClass('hide');
                $("#form_estado").fadeOut();
              }
              $("#form_municipio").removeClass('hide');
              $("#form_municipio").fadeIn();
            });
            $("#radio_estado").click(function(){
              if(!$("#form_municipio").hasClass('hide')) {
                $("#form_municipio").addClass('hide');
                $("#form_municipio").fadeOut();
              }
              $("#form_estado").removeClass('hide');
              $("#form_estado").fadeIn();
            });

            $(".add").click(function() {
              $(".telefone2").fadeIn();
            });

            $(".add2").click(function() {
              $(".telefone3").fadeIn();
            });

            $(".date").datepicker({
              showButtonPanel: true,
              regional: "pt-BR"
            });

            {% verbatim %}
            $(".cnpj").formatter({
              'pattern': '{{99}}.{{999}}.{{999}}/{{9999}}-{{99}}',
              'persistent': false,
            });
            $(".cpf").formatter({
              'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
              'persistent': false,
            });
            $(".cep").formatter({
              'pattern': '{{99}}.{{999}}-{{999}}',
              'persistent': false,
            });
            $(".telefone").formatter({
              'pattern': '({{99}}){{99999}}-{{9999}}',
              'persistent' : false,
            });
            {% endverbatim %}
          });
        </script>

        <script src="//barra.brasil.gov.br/barra.js" defer></script>
  </div>
<div id="footer-brasil"></div>
</body>
