<h3>Dados do Responsável</h3>

<ul>
      <li>
          Nome:
          <a class="link-plain" href="#">{{ request.user.usuario.responsavel.nome_responsavel }}</a>

      </li>
      <li>
          CNPJ:
          <a class="link-plain" href="#">{{ request.user.usuario.responsavel.cpf_responsavel }}</a>

      </li>
      <li>
          Cargo:
          <a class="link-plain" href="#">{{ request.user.usuario.responsavel.cargo_responsavel }}</a>

      </li>
      <li>
          Instituição:
          <a class="link-plain" href="#">{{ request.user.usuario.responsavel.instituicao_responsavel }}</a>

      </li>
</ul>
