<h3>Dados do Responsável</h3>

<ul>
      <li>
          Nome:
          <a class="link-plain" href="#">{{ request.session.sistema_responsavel.nome }}</a>

      </li>
      <li>
          CNPJ:
          <a class="link-plain" href="#">{{ request.session.sistema_responsavel.cpf }}</a>

      </li>
      <li>
          Cargo:
          <a class="link-plain" href="#">{{ request.session.sistema_responsavel.cargo }}</a>

      </li>
      <li>
          Instituição:
          <a class="link-plain" href="#">{{ request.session.sistema_responsavel.instituicao }}</a>

      </li>
</ul>
