<h3>Dados do Ente Federado</h3>

<ul>
    <li>
        Nome:
        <a class="link-plain" href="#">
            {{ request.session.sistema_ente.nome }}
        </a>
    </li>
    <li>
        CNPJ:
        <a class="link-plain" href="#">{{ request.session.sistema_sede.cnpj }}</a>

    </li>
    <li>
        Governador/Prefeito:
        <a class="link-plain" href="#">{{ request.session.sistema_gestor.nome }}</a>

    </li>
    <li>
        Situação:
        <a class="link-plain" href="#">{{ request.session.sistema_situacao }}</a>

    </li>
    {% if request.session.sistema_cultura_selecionado.estado_processo == '6' %}
        <li>
            Publicação no DOU:
            <a class="link-plain" href="{{ request.session.sistema_cultura_selecionado.link_publicacao_acordo }}">{{ request.session.sistema_cultura_selecionado.data_publicacao_acordo|date:'d/m/Y' }}</a>

        </li>
    {% endif %}
</ul>
<br />
