<h3>Dados do {% if request.user.usuario.municipio.cidade %}Município{% else %}Governo{% endif %}</h3>

<ul>
    <li>
      {% if request.user.usuario.municipio.cidade %}Município-{% endif %}Estado:
        <a class="link-plain" href="#">{% if request.user.usuario.municipio.cidade %}
          {{ request.user.usuario.municipio.cidade }}-
        {% endif %}
        {{ request.user.usuario.municipio.estado.nome_uf }}</a>

    </li>
    <li>
        CNPJ:
        <a class="link-plain" href="#">{{ request.user.usuario.municipio.cnpj_prefeitura }}</a>

    </li>
    <li>
        Governador/Prefeito:
        <a class="link-plain" href="#">{{ request.user.usuario.municipio.nome_prefeito }}</a>

    </li>
    <li>
        Situação:
        <a class="link-plain" href="#">{{ request.user.usuario.get_estado_processo_display }}</a>

    </li>
</ul>
<br />
