{% extends "base.html" %} {% block content %}
<p>
  <h3><strong>Contato</strong></h3>
</p>
<hr />
<p>
  <strong>Dúvidas e Informações:</strong>
</p>
<p>
  Secretaria de Articulação Institucional - SAI <br />
  Coordenação Geral de Institucionalização e Monitoramente do SNC <br />
  Monitoramente do SNC <br />
  SCS - Quadra 09 - Lote C - 11 Andar - Ed. Parque Cidade Corporate <br />
  CEP: 70.308-200 Brasília/DF <br />
  E-mail: acordosnc@cultura.gov.br
</p>
<p>
  <strong>Telefones:</strong>
</p>
<p>
  (61) 2024-2330<br />
  (61) 2024-2181<br />
  (61) 2024-2332<br />
  (61) 2024-2036<br />
  (61) 2024-2328<br />
  (61) 2024-2325<br />
  (61) 2024-2287<br />
  (61) 2024-2229
</p>
{% endblock content %}
