{% extends "base.html" %} {% load i18n %} {% block content %}
<h2>{% blocktrans %}Título da tela home{% endblocktrans %}
  <a class="anchorjs-link" href="#auto-truncating">
    <span class="anchorjs-icon"></span>
  </a>
</h2>
{% if request.user.usuario.estado_processo == '0' %}
<p>{% blocktrans %}Primeiro parágrafo da mensagem da tela home{% endblocktrans %}</p>
<p>{% blocktrans %}Segundo parágrafo da mensagem da tela home{% endblocktrans %}</p>
{% elif request.user.usuario.estado_processo == '1' %} {% include "conclusao_cadastro.html" %} {% elif request.user.usuario.estado_processo == '2' %}
<p>
  Informamos o recebimento da documentação física necessária para efetivar a Adesão ao SNC.
</p>

<p>
  Nossa equipe realizará os procedimentos necessários à sua adesão.
</p>

<p>
  Aguarde nosso contato.
</p>

<p>
  Atenciosamente,
  <br> Equipe SNC
</p>
{% elif request.user.usuario.estado_processo == '3' %}
<p>
  Consta em nossos registros a pendência da seguinte documentação física necessária para
  efetivar a Adesão ao SNC:<br><br>
  <strong>{{ historico.0.descricao }}</strong>
</p>

<p>
  <font color="red">Seu prazo para o envio é de <strong>30 dias</strong> corridos.</font>
</p>

<p>
  Atenciosamente,<br>
  Equipe SNC
</p>
{% elif request.user.usuario.estado_processo == '6' %}
<p>
  Prezado usuário,
</p>

<p>
  O Acordo de Cooperação Federativa encontra-se publicado no Diário Oficial da União.
</p>

<p>
  Para dar andamento ao processo de integração ao SNC, confirme o Responsável pelo desenvolvimento do seu sistema de cultura.
  Caso o responsável tenha mudado, <a href="{% url 'adesao:alterar_cadastrador' request.user.usuario.responsavel.id %}">clique aqui</a> para solicitar a alteração.
</p>

<p>
  A partir de agora, o responsável pelo sistema de cultura deve se programar para executar os compromissos pactuados no acordo,
  quais sejam, institucionalizar o seu Sistema de Cultura, estruturar os componentes (Órgão Gestor(se não houver),
  Fundo de Cultura e Conselho de Política Cultural), prever a realização de Conferências e elaborar o Plano de Cultura.
</p>

<p>
  <a class="btn btn-primary" href="{% url 'adesao:confirmar_responsavel' %}">Confirmar Responsável</a>
  <a class="btn btn-warning" href="{% url 'adesao:alterar_cadastrador' request.user.usuario.responsavel.id %}">Alterar Responsável</a>
</p>
{% endif %}
{% if historico %}
  {% include "historico_mudancas.html" %}
{% endif %}
{% if request.user.usuario.municipio %}
  {% include "dados_municipio.html" %}
{% endif %}
{% if request.user.usuario.secretario %}
  {% include "dados_secretario.html" %}
{% endif %}
{% if request.user.usuario.responsavel %}
  {% include "dados_responsavel.html" %}
{% endif %}
{% endblock content %}
