{% extends "base.html" %} {% load i18n %} {% block content %}
<h2>{% blocktrans %}Bem Vindo ao Sistema Nacional Cultura{% endblocktrans %}
  <a class="anchorjs-link" href="#auto-truncating">
    <span class="anchorjs-icon"></span>
  </a>
</h2>
{% if request.user.usuario.estado_processo == '0' %}
  <p style="text-align: justify;">{% blocktrans %}O Sistema Nacional de Cultura (SNC) é um instrumento 
  de gestão compartilhada de políticas públicas de cultura entre os ente federados e a sociedade civil. 
  Seu principal objetivo é fortalecer as políticas culturais da União, Estados, Distrito Federal e Municípios 
  por meio da institucionalização e amplificação da participação social para promover desenvolvimento - humano,
  social e econômico - com pleno exercício dos direitos culturais.{% endblocktrans %}</p>
  <p style="text-align: justify;">{% blocktrans %}Clique nas abas "Ente Federado", "Interlocutor" e "Responsável" 
  e preencha as informações para gerar o Acordo de Cooperação Federativa e a Solicitação de Integração ao SNC.
  {% endblocktrans %}</p>
{% elif request.user.usuario.estado_processo == '1' %} 
  {% include "conclusao_cadastro.html" %} 
{% elif request.user.usuario.estado_processo == '2' %}
  <p>
    Informamos o recebimento da documentação física necessária para efetivar a Adesão ao SNC.
  </p>

  <p>
    Nossa equipe realizará os procedimentos necessários à sua adesão.
  </p>

  <p>
    Aguarde nosso contato.
  </p>

  <p>
    Atenciosamente,
    <br> Equipe SNC
  </p>
{% elif request.user.usuario.estado_processo == '3' %}
  <p>
    Consta em nossos registros a pendência da seguinte documentação física necessária para
    efetivar a Adesão ao SNC:<br><br>
    <strong>{{ historico.0.descricao }}</strong>
  </p>

  <p>
    <font color="red">Seu prazo para o envio é de <strong>30 dias</strong> corridos.</font>
  </p>

  <p>
    Atenciosamente,<br>
    Equipe SNC
  </p>
{% elif request.user.usuario.estado_processo == '4' %}
  <p>
    Prezad@ {{ request.user.usuario.nome_usuario }},
  </p>
  <p>
    O acordo de cooperação foi enviado para assinatura do Secretário de Articulação Institucional, representante do ministério na assinatura do acordo. Em seguida, providenciaremos a publicação no Diário Oficial da União.
  </p>
  <p>
    Aguarde nosso contato.
  </p>
  <p>
    Atenciosamente,<br>
    Equipe SNC
  </p>
{% elif request.user.usuario.estado_processo == '5' %}
  <p>
    Prezad@ {{ request.user.usuario.nome_usuario }}
  </p>
  <p>
    Sua solicitação foi confirmada pela nossa equipe. Estamos providenciando a publicação do seu acordo no Diário Oficial da União.
  </p>
  <p>
    Aguarde nosso contato.
  </p>
  <p>
    Atenciosamente,<br>
    Equipe SNC
  </p>
{% elif request.user.usuario.estado_processo == '6' %}
  <p>
    Parabéns! Seu Acordo de Cooperação Federativa foi publicado no Diário Oficial da União (DOU).
  </p>

  <p>
    Agora você já pode iniciar o seu Plano de Trabalho, <a href="{% url 'planotrabalho:planotrabalho' request.user.usuario.plano_trabalho.id %}">clicando aqui</a>
    ou no menu a esquerda na opção "Plano de Trabalho"
  </p>

  <p>
    Para visualizar a publicação do Acordo de Cooperação no Diário Oficial da União,
    siga os seguintes passos:

    <ol>
      <li>Insira o nome do seu município em "Informe o termo"</li>
      <li>Selecione "DOU3"</li>
      <li>Informe a data de {{ request.user.usuario.data_publicacao_acordo }} em "Data Inicial e Data Final"</li>
    </ol>
  </p>

  <p>
    <a href="http://portal.in.gov.br" target="_blank">Clique aqui para efetuar a pesquisa</a>
  </p>

{% endif %}
{% if historico %}
  {% include "historico_mudancas.html" %}
{% endif %}
{% if request.user.usuario.municipio %}
  {% include "dados_municipio.html" %}
{% endif %}
{% if request.user.usuario.secretario %}
  {% include "dados_secretario.html" %}
{% endif %}
{% if request.user.usuario.responsavel %}
  {% include "dados_responsavel.html" %}
{% endif %}
{% endblock content %}
