<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>SNC - Sistema Nacional de Cultura</title>
	<meta name="description" content="MINETT - Responsive HTML Template by entiri">
	<meta name="keywords" content="minett, entiri, theme, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]-->
  {% load staticfiles %}
  <!-- Favicon -->
  <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png">

  <!-- Styles -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-override.css' %}" rel="stylesheet">

  <!-- Estilos Font Avesome -->
  <link href="{% static 'css/font-awesome/font-awesome.css' %}" rel="stylesheet">
	<!--[if IE 7]>
		<link href="{% static 'css/font-awesome/font-awesome-ie7.min.css' %}" rel="stylesheet">
	<![endif]-->

  <!-- FlexSlider Style -->
  <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen">

  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700" rel="stylesheet" type="text/css">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<!-- Barra do GOVERNO -->
<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
	<ul id="menu-barra-temp" style="list-style:none;">
		<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
		<li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
	</ul>
</div>

<body>
  <!-- Header -->
  <header id="header">


    <div class="container">
      <div class="row t-container">
        <div class="texture">
          <img src="img/background.png" alt="">
        </div>
        <!-- Logo -->
        <div class="span3">
          <div class="logo">
            <a href="login.php"><img src="img/logo-header.png" alt=""></a>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="span9">
          <div class="row space90"></div>
          <nav class="navbar">
            <!-- Menu Caso houver -->

          </nav>
          <div class="row space15 hidden-phone"></div>
        </div>

        <div class="span8">
          <div class="row">
            <form action="{% url 'adesao:login' %}" method="post"> {% csrf_token %}
            <div class="span6 offset2">
              <h1>Acesse o <strong>Sistema</strong></h1>
              <div class="head-info">
                <div class="error_msg">

		  </div>
                <!--Caixa de Login-->
               <table  width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td style="font-weight: bold;" valign="middle"  width="13%" align="right">
              	<div style="margin-bottom:15px" >CPF:</div>
              	<div>SENHA:</div>
              </td>
              <td valign="middle" width="51%">
              	<input style="margin-bottom:10px"  type="text" name="username" value="" class="login_input" onblur="javascript: validarCPF(this.value);" onkeypress="javascript: mascara(this, cpf_mask);"  maxlength="14" /> <br />
              	<input type="password" name="password" class="login_input" autocomplete="off" size="20" onkeypress="return controlar_foco_senha( event );" />
              </td>
              <td valign="middle" width="36%">
              	<input type="submit" class="btn" value="ACESSAR"/><br />
              	<a href="#" class="btn" style="background-color:#F0AD4E">NOVO USUÁRIO</a>
              </td>
            </tr>
            <tr>
              <td colspan="3" align="left" class="txt_laranja" ><a href="{% url 'password_reset'%}">Esqueceu a senha?</a></td>
            </tr>
          </table>

               </div>
            </div>

          </div>
        </form>
        </div>
      </div>

      <div class="space60"></div>

      <div class="row">
        <div class="span12">

        </div>
      </div>
  </div>
  </header>
  <!-- Fim do Header  -->

  <div class="row space80"></div>

  <!-- Conteúdo -->
  <div id="content">
    <div class="container">
      <div class="space50"></div>

    </div>
  </div>
  <!-- Fim do conteúdo  -->

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="span12 pos-r">
          <div id="footer-brasil" class="footer-logos"><div id="wrapper-footer-brasil"><a href="http://www.acessoainformacao.gov.br/"><span class="logo-acesso-footer"></span></a><a href="http://www.brasil.gov.br/"><span class="logo-brasil-footer"></span></a></div></div>
          <div class="texture-footer">

          </div>
        </div>
      </div>

      <div class="row"></div>

    </div>
</footer>
  <!-- Footer End -->

  <!-- JavaScripts -->
	<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
	<script type="text/javascript" defer src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/validaCPF.js' %}"></script>
  <!-- Script da Barra do Governo -->
	<script defer src="http://barra.brasil.gov.br/barra.js" type="text/javascript"></script>

</body>
</html>
