{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
{% include 'messages.html' %}
<menu data-target="prazo" ></menu>
<div class="row">
  <div class="col-lg-12">
    <div class=" card  ">
      <div class="card-header card-plain card-header-primary">
        <h4 class="card-title">Acompanhar Prazos</h4>
            <p class="card-category">Aditivar prazo da adesão</p>
      </div>
      <!-- /.panel-heading -->
      <div class="card-body">
          <table class="table table-hover tabela-datatable" >
            <thead>
              <tr>
                <th>Município/Estado</th>
                <th>CNPJ</th>
                <th>Data de Publicação do Acordo</th>
                <th>Prazo Atual</th>
                <th>Aditivar Prazo</th>
              </tr>
            </thead>
            <tbody>
              {% for sistema in object_list %}
                <tr class="odd gradeX">
                  <td>{{ sistema.ente_federado }}</td>
                  <td>{{ sistema.sede.cnpj }}</td>
                  {% if sistema.data_publicacao_acordo %}
                    <td>{{ sistema.data_publicacao_acordo }}</td>
                  {% else %}
                    <td>Não encontrada</td>
                  {% endif %}
                  <td>{{ sistema.prazo }} anos</td>
                  <td>
                    <form method="post" action="{% url 'gestao:aditivar_prazo' sistema.id page_obj.number%}">{% csrf_token %}
                        <button type="submit" rel="tooltip" title="Adicionar 2 anos" class="btn btn-white btn-link btn-sm">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
