{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}

<menu data-target="prazo" ></menu>

<div class="row">
  <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-header card-plain card-header-primary">
            <h4 class="card-title">Acompanhar Prazos</h4>
            <p class="card-category">Aditivar prazo da adesão</p>
        </div>
        <div class="card-body table-responsive">
            <table id="tabela-prazo" class="datatable table table-hover">
                <thead class="text-primary">
                    <tr>
                      <th>Município/Estado</th>
                      <th>CNPJ</th>
                      <th>Data de Publicação do Acordo</th>
                      <th>Prazo Atual</th>
                      <th>Aditivar Prazo</th>
                    </tr>
                  </thead>
            </table>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacaoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmacaoLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body-text">
        </div>
        <div class="modal-footer">
          <input type="hidden" id="id-ente-federado" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" id="btn-aditivar" data-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
{% block js%}
<script type="text/javascript">
$(document).ready(function(){
  $('#datepicker').datepicker();
  csrf_token = '{{ csrf_token }}';

  var tabela = $('#tabela-prazo').DataTable({
    order: [0, 'asc'],
    language:{
            "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
    columns: [
        {
          data: null,
          name: "ente_federado",
          render: (data) => data[1],
        },
        {
          data: null,
          name: "sede__cnpj",
          render: (data) => data[2],
        },
        {
          data: null,
          name: "data_publicacao_acordo",
          render: (data) => data[3],
        },
        {
          data: null,
          name: "prazo",
          render: (data) => `${data[4]} anos`,
        },
        {
          orderable: false,
          data: null,
          name: "ente_federado",
          render: (data) => `
            <button
              class="btn btn-primary btn-link btn-sm"
              data-toggle="modal"
              data-target="#modalConfirmacao"
              data-nome="${data[1]}"
              data-id="${data[0]}"
              data-prazo="${data[4]}"
              >
                <i class="material-icons">add</i>
            </button>`
        },
    ],
    searching: true,
    processing: true,
    serverSide: true,
    stateSave: true,
    ajax: {
      url: "{% url 'gestao:ajax_prazo' %}",
      data: {
        csrfmiddlewaretoken: csrf_token,
      },
      type: "POST",
    },
  });

  var salvarAditivacaoPrazo = () => {
    let id_ente = $('#id-ente-federado').val();
    $.ajax({
			type: "POST",
			url: "{% url 'gestao:aditivar_prazo' %}",
			data: {
        id: id_ente,
        csrfmiddlewaretoken: csrf_token
      },
			dataType: 'json',
			cache: false,
			success: function(response){
        tabela.ajax.reload()
        $.notify(
          {
            icon: "check_circle",
            message: 'Prazo aditivado com sucesso.',
          },
          {type: "success"}
        );
			},
			error: function(error){
        tabela.ajax.reload()
        $.notify(
          {
            icon: "error",
            message: 'Ocorreu algum problema ao aditivar o prazo.',
          },
          {type: "danger"}
        );
      },
		})
  }

  $('#btn-aditivar').on('click', salvarAditivacaoPrazo);

  var preencherDadosModal = (opts) => {
    let prazo = opts.prazo;
    let prazo_extendido = opts.prazo+2;
    let nome = opts.nome;
    let id = opts.id;

    $('#id-ente-federado').val(id);

    $('#modal-body-text').html(`
      Deseja realmente aditivar o prazo de ${nome} de ${prazo} para ${prazo_extendido} anos?`
    )
  }

  $('#modalConfirmacao').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let nome_ente = button.data('nome');
    let prazo = button.data('prazo');
    let id_ente = button.data('id');

    preencherDadosModal({
      id: id_ente,
      prazo: prazo,
      nome: nome_ente,
    });
  });

});
</script>
{% endblock js %}