{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %} {{form.media}}
{% include 'messages.html' %}

<div class=" card  ">
  <div class=" card-header">
    Alteração de cadastrador do ente federado
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#conteudo-default" id="municipio-tab">Município</a></li>
    <li class="nav-item"><a class="nav-link"data-toggle="tab" href="#conteudo-default" id="estado-tab">Estado</a></li>
  </ul>

  <div class="tab-content">
    <div id="conteudo-default" class="tab-pane fade-in active">
      <div class=" card-body">
        <form action="{% url 'gestao:alterar_cadastrador' %}" class="form-horizontal" method="post">{% csrf_token %}

          <div class="form-group row">
            <label for="{{ form.estado.id_for_label }}" class="col-sm-3 control-label text-right"><b>UF</b></label>
            <div class="col-sm-1">
              {% render_field form.estado class="form-control" id="estado_id" %}
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <span class="help-block">{{ form.estado.errors }}</span>
            </div>
          </div>

          <div class="form-group row" id="municipio-field">
            <label for="{{ form.municipio.id_for_label }}" class="col-sm-3 control-label text-right"><b>Município</b></label>

            <div class="col-sm-4">
              {% render_field form.municipio class="form-control" id="municipio_id"%} {{ form.municipio.errors }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.data_publicacao_acordo.id_for_label }}" class="col-sm-3 control-label text-right"><b>Data de publicação do Acordo</b></label>

            <div class="col-sm-4">
              {% render_field form.data_publicacao_acordo class="form-control date" %} {{ form.data_publicacao_acordo.errors }}
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 control-label text-right"><b>CPF atual do Cadastrador</b></label>
            <div class="col-sm-4">
              <input disabled="true" id="cpf_usuario" value=""></input>
            </div>
          </div>

          <div class="form-group row {% if form.cpf_usuario.errors %} has-error {% endif %}">
            <label for="{{ form.cpf_usuario.id_for_label }}" class="col-sm-3 control-label text-right"><b>CPF do Novo Cadastrador</b></label>

            <div class="col-sm-4 ">
              {% render_field form.cpf_usuario class="form-control cpf" %} <span class="help-block">{{ form.cpf_usuario.errors }} {{ form.non_field_errors }}</span>
            </div>
          </div>


          <div class="form-group row text-center">
            <div class="col-sm-offset-3 col-sm-10">
              <a class="btn btn-default border" href="{% url 'adesao:home' %}">Cancelar</a>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  {% endblock content %} {% block js %}
  <script>

    $(document).ready(function () {

      $('#estado-tab').on('click', function () {
        $fieldMuncipio = $('#municipio-field');
        $fieldMuncipio.hide();
        $('#estado_id option').each(function () { $(this).removeAttr('selected'); });
        $('#municipio_id option').each(function () { $(this).removeAttr('selected'); });
        $('#id_data_publicacao_acordo').val("");
        $('#cpf_usuario').val("");
      });

      $('#municipio-tab').on('click', function () {
        $fieldMuncipio = $('#municipio-field');
        $fieldMuncipio.show();
        $('#estado_id').find('option:first').attr('selected', true);
        $('#municipio_id').find('option:first').attr('selected', true);
        $('#id_data_publicacao_acordo').val("");
        $('#cpf_usuario').val("");
      });

      $('#municipio_id, #estado_id').change(function () {
        $municipio_id = $('#municipio_id').val()
        $estado_id = $('#estado_id').val()
        $url = "{% url 'gestao:ajax_cadastrador_cpf' %}"

        $.ajax({
          type: "GET",
          url: $url + '?municipio=' + $municipio_id + '&estado=' + $estado_id,
          cache: false,
          success: function (data) {
            $('#id_data_publicacao_acordo').val("");
            if (!data.erro) {
              $("#id_data_publicacao_acordo").prop("disabled", false);
              $('#id_data_publicacao_acordo').val(data.data_publicacao_acordo);
              $('#cpf_usuario').val(data.cpf);
              if (!data.cpf) {
                $('#cpf_usuario').val("Não consta");
              }
              if (data.estado_processo == 0) {
                $("#id_data_publicacao_acordo").prop("disabled", true);
              }
            } else {
              $('#cpf_usuario').val("Não consta");
              $("#id_data_publicacao_acordo").prop("disabled", true);
            }
          }
        });
      });
    });
  </script> {% endblock js %}
