<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Nacional de Cultura</title>


    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.responsive.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js'%}"></script>

</head>

<body>

  <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'gestao:acompanhar_adesao' %}" >SNC</a>
          </div>
          <!-- /.navbar-header -->

          <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> {{ request.user.usuario.nome_usuario }} <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="{% url 'mudar_senha_gestao' %}"><i class="fa fa-user fa-fw"></i> Alterar Senha</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="{% url 'adesao:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                      <li class="sidebar-search">
                          <div class="input-group custom-search-form">
                            <form action="{% url 'gestao:acompanhar_adesao' %}" method="get">
                              <input type="text" name="municipio" class="form-control" placeholder="Buscar...">
                              <span class="input-group-btn">
                                  <button class="btn btn-default" type="submit">
                                      <i class="fa fa-search"></i>
                                  </button>
                              </span>
                            </form>
                          </div>
                          <!-- /input-group -->
                      </li>
                      <!--<li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                      </li>-->
                      <li>
                        <a href="{% url 'gestao:acompanhar_adesao' %}">Início</a>
                      </li>
                      <li>
                        <a href="{% url 'gestao:usuarios' %}">Usuários</a>
                      </li>
                      <li>
                        <a href="{% url 'gestao:acompanhar_prazo' %}">
                          Alterar Prazos
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'exportar_ods' %}">Exportar Planilha ODS</a>
                      </li>
                      <li>
                        <a href="{% url 'exportar_xls' %}">Exportar Planilha XLS</a>
                      </li>
                      <li class="active">
                        <a href="{% url 'gestao:alterar_cadastrador' %}"><i class="fa fa-exchange fa-fw"></i>  Alterar Cadastradores</a>
                      </li>
                        
                         <!-- Acompanhamento da execução do Plano de Trabalho -->
                          <li>
                           <a href="#" data-toggle="collapse" data-target="#plano_trabalho"><i class="fa fa-sitemap fa-fw"></i>  Plano de Trabalho<span class="fa arrow"></span></a>
                           <div class="collapse" id="plano_trabalho" style="height: 0px;">
                           <ul class="nav nav-second-level">
                             <li>
                               <a href="#" data-toggle="collapse" data-target="#sistema_cultura">  Sistema de Cultura<span class="fa arrow"></span>
                               </a>
                               <div class="collapse" id="sistema_cultura" style="height: 0px;">
                                 <ul class="nav nav-third-level">
                                   <li><a href="{% url 'gestao:acompanhar_sistema' %}?anexo=lei_sistema_cultura">Lei</a></li>
                                 </ul>
                               </div>
                             </li>

                               <li>
                                 <a href="#" data-toggle="collapse" data-target="#orgao">
                                   Órgão Gestor<span class="fa arrow"></span>
                                 </a>
                                 <div class="collapse" id="orgao" style="height: 0px;">
                                   <ul class="nav nav-third-level">
                                     <li><a href="{% url 'gestao:acompanhar_orgao' %}">Ato normativo</a></li>
                                   </ul>
                                 </div>
                               </li>

                               <li>
                                 <a href="#" data-toggle="collapse" data-target="#conselho">
                                   Conselho Cultural<span class="fa arrow"></span>
                                 </a>
                                 <div class="collapse" id="conselho" style="height: 0px;">
                                   <ul class="nav nav-third-level">
                                     <li><a href="{% url 'gestao:acompanhar_conselho' %}">Ata</a></li>
                                   </ul>
                                 </div>
                               </li>

                               <li>
                                 <a href="#" data-toggle="collapse" data-target="#fundo">
                                   Fundo de Cultura<span class="fa arrow"></span>
                                 </a>
                                 <div class="collapse" id="fundo" style="height: 0px;">
                                   <ul class="nav nav-third-level">
                                     <li><a href="{% url 'gestao:acompanhar_fundo' %}">Lei</a></li>
                                   </ul>
                                 </div>
                             </li>

                             <li>
                               <a href="#" data-toggle="collapse" data-target="#plano_cultura">
                                 Plano de Cultura<span class="fa arrow"></span>
                               </a>
                               <div class="collapse" id="plano_cultura" style="height: 0px;">
                                 <ul class="nav nav-third-level">
                                   <li><a href="{% url 'gestao:acompanhar_plano' %}?anexo=lei_plano_cultura">Lei</a></li>
                                 </ul>
                               </div>
                             </li>
                           </ul>
                          </div>
                         </li>

                        <!-- Inserção de documentos faltantes-->

                        <li>
                          <a href="#" data-toggle="collapse" data-target="#inserir_documentos"><i class="fa fa-upload fa-fw"></i>  Inserir Documentos<span class="fa arrow"></span></a>
                          <div class="collapse" id="inserir_documentos" style="height: 0px;">
                            <ul class="nav nav-second-level">
                                <li>
                                  <a href="#" data-toggle="collapse" data-target="#sistemacult">
                                    Sistema de Cultura<span class="fa arrow"></span>
                                  </a>
                                <div class="collapse" id="sistemacult" style="height: 0px;">
                                  <ul class="nav nav-third-level">
                                    <li><a href="{% url 'gestao:listar_sistemas' %}">Lei</a></li>
                                  </ul>
                                </div>
                              </li>

                              <li>
                                <a href="#" data-toggle="collapse" data-target="#orgaogestor">
                                  Órgão Gestor<span class="fa arrow"></span>
                                </a>
                                <div class="collapse" id="orgaogestor" style="height: 0px;">
                                  <ul class="nav nav-third-level">
                                    <li><a href="{% url 'gestao:listar_orgaos' %}">Ato normativo</a></li>
                                  </ul>
                                </div>
                              </li>

                              <li>
                                <a  href="#" data-toggle="collapse" data-target="#conselhocult">
                                  Conselho Cultural<span class="fa arrow"></span>
                                </a>
                                <div class="collapse" id="conselhocult" style="height: 0px;">
                                  <ul class="nav nav-third-level">
                                    <li><a href="{% url 'gestao:listar_conselhos' %}">Ata</a></li>
                                  </ul>
                                </div>
                              </li>

                              <li>
                                <a href="#" data-toggle="collapse" data-target="#fundocult">
                                  Fundo de Cultura<span class="fa arrow"></span>
                                </a>
                                <div class="collapse" id="fundocult" style="height: 0px;">
                                  <ul class="nav nav-third-level">
                                    <li><a href="{% url 'gestao:inserir_fundo' %}">Lei</a></li>
                                  </ul>
                                </div>
                              </li>

                              <li>
                                <a href="#" data-toggle="collapse" data-target="#planocult">
                                  Plano de Cultura<span class="fa arrow"></span>
                                </a>
                                <div class="collapse" id="planocult" style="height: 0px;" >
                                  <ul class="nav nav-third-level">
                                    <li><a href="{% url 'gestao:inserir_plano' %}">Lei</a></li>
                                  </ul>
                                </div>
                              </li>

                              <li>
                                <a href="{% url 'gestao:inserir_entefederado' %}">
                                  Ente Federado
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
              {% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
              {% endblock content %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>

    <!-- DataTables Javascript -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/datepicker-pt-BR.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".date").datepicker({
          showButtonPanel: true,
          regional: "pt-BR"
        });
      });
    </script>
    {% block js %}
    {% endblock js%}

</body>

</html>
