{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
{% include 'messages.html' %}
<div class="row">
  <div class="col-lg-12">
    <div class=" card  ">
      <div class=" card-header">
        Usuários com acesso ao sistema
      </div>
      <!-- /. card-header -->
      <div class=" card-body">
        <form method="get" action="" style="margin-bottom: 5px">
          <div class="input-group custom-search-form col-lg-3" style="padding: 0px">
              <input type="text" name="q" class="form-control" placeholder="CPF ou e-mail">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
        </form>
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover dt-responsive" id="dataTables-example">
            <thead>
              <tr>
                <th>CPF</th>
                <th>Nome Completo</th>
                <th>E-mail</th>
                <th>Ativo</th>
                <th>Administrador</th>
                <th>Salvar</th>
              </tr>
            </thead>
            <tbody>
              {% for usuario in object_list %}
                <tr class="odd gradeX">
                    <!--<td><center><a href="{% url 'gestao:detalhar' usuario.id %}"><i class="fa fa-file"></i></a></center></td>-->
                    <td>{{ usuario.user.username }}</td>
                    <td>{{ usuario.nome_usuario }}</td>
                    <form name="form" action="{% url 'gestao:alterar_usuario' usuario.user.id %}" method="post">
                        {% csrf_token %}
                        <td><input type="text" class="form-control" name="email" value="{{ usuario.user.email }}"></input></td>
                        {% if usuario.user.is_active %}
                        <td><input type="checkbox" name="is_active"checked></input></td>
                        {% else %}
                        <td><input type="checkbox" name="is_active"></input></td>
                        {% endif %}
                        {% if usuario.user.is_staff %}
                        <td><input type="checkbox" name="is_staff"checked></input></td>
                        {% else %}
                        <td><input type="checkbox" name="is_staff"></input></td>
                        {% endif %}
                        <td><button type="submit" class="btn btn-primary" title="Salvar Mudanças" ><i class="fa fa-check"></i></button></td>
                    </form>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
              </li>
              {% endif %}
              <li class="page-item">
                <a class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link next" href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /. card-body -->
    </div>
    <!-- /. card -->
  </div>
  <!-- /.col-lg-12 -->
</div>
{% endblock content %}
{% block js%}
<script type="text/javascript">
  $(document).ready(function(){
    $("[id^='select_situacao']").change(function(e){
      index = $(this).parent().parent().index();
      if($(this).val()==="2"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#localizacao_"+index).hasClass('hide')){
          $("#localizacao_"+index).removeClass('hide');
          $("#localizacao_"+index).fadeIn();
        }
      }
      else if($(this).val()==="3"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#justificativa_"+index).hasClass('hide')){
          $("#justificativa_"+index).removeClass('hide');
          $("#justificativa_"+index).fadeIn();
        }
      }
      else if($(this).val()==="4"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#num_processo_"+index).hasClass('hide')){
          $("#num_processo_"+index).removeClass('hide');
          $("#num_processo_"+index).fadeIn();
        }
      }
      else if($(this).val()==="6"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#data_acordo_"+index).hasClass('hide')){
          $("#data_acordo_"+index).removeClass('hide');
          $("#data_acordo_"+index).fadeIn();
        }
      }
      else {
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
      }
    });
  });
</script>
{% endblock js%}
