{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
{% include 'messages.html' %}
<menu data-target="usuarios" ></menu>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
        <div class="card-header card-plain card-header-primary">
            <h4 class="card-title">Usuarios</h4>
            <p class="card-category">Gerenciar acessos ao sistema</p>
        </div>
      <div class="card-body table-responsive">
          <table class="table table-hover tabela-datatable">
            <thead>
              <tr>
                <th>CPF</th>
                <th>Nome Completo</th>
                <th>E-mail</th>
                <th>Ativo</th>
                <th>Administrador</th>
                <th>Salvar</th>
              </tr>
            </thead>
            <tbody>
              {% for usuario in object_list %}
                <tr class="">
                    <!--<td><center><a href="{% url 'gestao:detalhar' usuario.id %}"><i class="fa fa-file"></i></a></center></td>-->
                    <td>{{ usuario.user.username }}</td>
                    <td>{{ usuario.nome_usuario }}</td>
                    <form name="form" action="{% url 'gestao:alterar_usuario' usuario.user.id %}" method="post">
                        {% csrf_token %}
                        <td>
                          <div style="display:none;">{{ usuario.user.email }}</div>
                          <input type="text" class="form-control" name="email" value="{{ usuario.user.email }}"/>
                        </td>
                        {% if usuario.user.is_active %}
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="is_active" checked>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                          </div>
                        </td>
                        {% else %}
                        <td>
                          <div class="form-check">
                              <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="is_active">
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                              </label>
                          </div>
                        </td>
                        {% endif %}
                        {% if usuario.user.is_staff %}
                        <td>
                          <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="is_staff" checked>
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </td>
                        {% else %}
                        <td>
                          <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="is_staff">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </td>
                        {% endif %}
                        <td>
                          <button type="submit" rel="tooltip" title="Salvar Mudanças" class="btn btn-white btn-link btn-sm">
                              <i class="material-icons">save_alt</i>
                          </button>
                        </td>
                    </form>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js%}
<script type="text/javascript">
  $(document).ready(function(){
    $("[id^='select_situacao']").change(function(e){
      index = $(this).parent().parent().index();
      if($(this).val()==="2"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#localizacao_"+index).hasClass('hide')){
          $("#localizacao_"+index).removeClass('hide');
          $("#localizacao_"+index).fadeIn();
        }
      }
      else if($(this).val()==="3"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#justificativa_"+index).hasClass('hide')){
          $("#justificativa_"+index).removeClass('hide');
          $("#justificativa_"+index).fadeIn();
        }
      }
      else if($(this).val()==="4"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#num_processo_"+index).hasClass('hide')){
          $("#num_processo_"+index).removeClass('hide');
          $("#num_processo_"+index).fadeIn();
        }
      }
      else if($(this).val()==="6"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#data_acordo_"+index).hasClass('hide')){
          $("#data_acordo_"+index).removeClass('hide');
          $("#data_acordo_"+index).fadeIn();
        }
      }
      else {
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
      }
    });
  });
</script>
{% endblock js%}
