{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div align="center">
  <h3>Cadastro de Ente Federado</h3>
  <p>Preencha o formulário abaixo com os dados do município ou estado.</p>
</div>
{% if request.user.usuario.municipio %}
<div class="row">
  <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
  {% if request.user.usuario.municipio.estado and not request.user.usuario.municipio.cidade %}
    {% include "prefeitura/alterar_estado.html" %}
  {% else %}
    {% include "prefeitura/alterar_municipio.html" %}
  {% endif %}
  </form>
</div>
{% else %}
<div class="row">
  {% if tipo_ente == "1" %}
    {% include "prefeitura/formulario_estado.html" %}
  {% else %}
    {% include "prefeitura/formulario_municipio.html" %}
  {% endif %}
</div>
  {% endif %}
{% endblock content %}
