<html>

<head>
  <link href="http://localhost:8000/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Prefeitura</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-6">
      Município: Itaparica
    </div>
    <div class="col-xs-6">
      CNPJ: 13.882.949/0001-04
    </div>
    <div class="col-xs-6">
      CEP: 44460-000
    </div>
    <div class="col-xs-6">
      Tipo Logradouro: Rua
    </div>
    <div class="col-xs-6">
      Logradouro: Antonio Calmon
    </div>
    <div class="col-xs-6">
      UF: BA
    </div>
    <div class="col-xs-6">
      Número: 0
    </div>
    <div class="col-xs-6">
      Complemento: Prédio
    </div>
    <div class="col-xs-6">
      Bairro: Centro
    </div>
    <div class="col-xs-6">
      Email Institucional:turismoculturaitaparica@gmail.com
    </div>
    <div class="col-xs-6">
      Telefone Institucional: (71) 36313 -065 ; ;
    </div>
    <div class="col-xs-6">
      Telefone: (71) 36313 -065 ; ;
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Prefeito</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      CPF: 547.290.765-91
    </div>
    <div class="col-xs-6">
      Nome Completo: RAIMUNDO NONATO DA HORA FILHO
    </div>
    <div class="col-xs-6">
      RG: 03227581-14
    </div>
    <div class="col-xs-6">
      Órgão Expeditor: SSP
    </div>
    <div class="col-xs-12">
      Email Institucional: turismoculturaitaparica@gmail.com
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Interlocutor</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      CPF: 069.064.195-87
    </div>
    <div class="col-xs-12">
      Nome Completo: Ermeval Bomfim Ferreira da Hora
    </div>
    <div class="col-xs-6">
      RG: 00785.262-21
    </div>
    <div class="col-xs-6">
      Órgão Expeditor: SSP
    </div>
    <div class="col-xs-6">
      UF: Bahia
    </div>
    <div class="col-xs-6">
      CEP: 44460-000
    </div>
    <div class="col-xs-12">
      Endereço Institucional: Morada de Ponta de Areia Quadra C
    </div>
    <div class="col-xs-6">
      Complemento: casa
    </div>
    <div class="col-xs-6">
      Bairro: Ponta de Areia
    </div>
    <div class="col-xs-12">
      Email Institucional: ermevalbonfim17@gmail.com
    </div>
    <div class="col-xs-6">
      Telefone Institucional: (71) 87620 -592
    </div>
    <div class="col-xs-6">
      Telefone: (71) 87620 -592
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Responsável Indicado - Acompanhamento de Acordo</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      <div class="col-xs-12">
        CPF: 069.064.195-87
      </div>
      <div class="col-xs-12">
        Nome Completo: Ermeval Bomfim Ferreira da Hora
      </div>
      <div class="col-xs-6">
        RG: 00785.262-21
      </div>
      <div class="col-xs-6">
        Órgão Expeditor: SSP
      </div>
      <div class="col-xs-6">
        UF: Bahia
      </div>
      <div class="col-xs-6">
        CEP: 44460-000
      </div>
      <div class="col-xs-12">
        Endereço Institucional: Morada de Ponta de Areia Quadra C
      </div>
      <div class="col-xs-6">
        Complemento: casa
      </div>
      <div class="col-xs-6">
        Bairro: Ponta de Areia
      </div>
      <div class="col-xs-12">
        Email Institucional: ermevalbonfim17@gmail.com
      </div>
      <div class="col-xs-6">
        Telefone Institucional: (71) 87620 -592
      </div>
      <div class="col-xs-6">
        Telefone: (71) 87620 -592
      </div>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Cadastrador</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      <div class="col-xs-12">
        CPF: 06906419587
      </div>
      <div class="col-xs-12">
        Nome Completo: Ermeval Bonfim Ferreira da Hora
      </div>
      <div class="col-xs-12">
        Email: ermevalbonfim17@gmail.com
      </div>
      <div class="col-xs-12">
        *Cadastrador é quem insere as informações na Plataforma de Integração e Monitoramento do SNC, devendo assegurar a confiabilidade dos dados e arquivos apresentados.
      </div>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Declaração de Responsabilidade (Prefeito)</strong>
    </center>
    <div class="col-xs-12">
      <hr style="background-color:black;" /> Venho, por meio deste, solicitar a integração deste município ao Sistema Nacional de Cultura, através da assinatura do Acordo de Cooperação Federativa, estando ciente de que esta solicitação
      <strong>deve ser acompanhada dos documentos básicos</strong> sem os quais a análise e a tramitação do processo ficarão prejudicadas,
      <strong><u>responsabilizando-me, sob as penas da lei, pela autenticidade dos documentos apresentados e pela veracidade das informações prestadas.</u></strong>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Autorização</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      Autorizo a divulgação das informações de interesse público referentes ao município, prefeito, interlocutor e responsável pelo acompanhamento do acordo na plataforma do Sistema Nacional de Informações e Indicadores Culturais (SNIIC), quais sejam:
      a) Município: nome, CNPJ, endereço, telefone e e-mail institucional; b) Informações do Prefeito: nome, e-mail institucional; c) Informações do Interlocutor: nome, Instituição, cargo/função, e-mail, endereço e telefone institucional; d) Informações
      do Responsável pelo acompanhamento do Acordo: nome, Instituição, cargo/função, e-mail, endereço e telefone institucional;<br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        <br>___________________________ , ________ de ____________________ de 20_____
      </p>
      <p>
        <strong>Nome Completo: RAIMUNDO NONATO DA HORA FILHO</strong>
        <br>
        <strong>Prefeito do Município: Itaparica</strong>
      </p>
    </div>
  </div>
</body>

</html>
