<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://{{static}}/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="margin:0; padding:0;" align="justify">
    <div class="content">
      <p>
        Eu, {{ request.user.usuario.municipio.nome_prefeito }},
        {% if request.user.usuario.municipio.cidade %}
        prefeito do município de {{ request.user.usuario.municipio.cidade }},
        {% else %}
        governador {{ request.user.usuario.municipio.estado.nome_uf }},
        {% endif %}
        designo {{ request.user.usuario.responsavel.nome_responsavel }},
        cargo {{ request.user.usuario.responsavel.cargo_responsavel }}, CPF nº {{ request.user.usuario.responsavel.cpf_responsavel }},
        telefone institucional {{ request.user.usuario.responsavel.telefone_um }},
        e-mail institucional {{ request.user.usuario.responsavel.email_institucional_responsavel }},
        para ser o responsável pelo acompanhamento do Sistema de Cultura,
        conforme Cláusula décima primeira do acordo de cooperação federativa.
        Tenho ciência de que o servidor designado terá a incumbência de dar cumprimento às obrigações pactuadas,
        já ou futuramente detalhadas em metas descritas no Plano de Trabalho e encaminhamento dos assuntos pertinentes.
      </p>
      <p>
        Local e data.<br>
        ___________________________<br>
        {{ request.user.usuario.municipio.nome_prefeito }}<br>
        {% if request.user.usuario.municipio.cidade %}
        Prefeito do Município de {{ request.user.usuario.municipio.cidade }}
        {% else %}
        Governador {{ request.user.usuario.municipio.estado.nome_uf }}
        {% endif %}
      </p>
    </div>
  </body>
</html>
