<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://{{static}}/static/css/pdf.css" rel="stylesheet">
    <link href="http://{{static}}/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="margin:0; padding:0;" align="justify">
    <div class="content row">
      <p>
        Eu,_____________________________________________,
        prefeito do município de ______________________ , UF ____,
        designo <strong>{{ request.user.usuario.nome_usuario }}</strong>,
        cargo ____________________________________, CPF nº <strong>{{ request.user.username }}</strong>,
        telefone institucional _________________,
        e-mail institucional <strong>{{ request.user.email }}</strong>,
        para ser o responsável pelo acompanhamento do Sistema de Cultura,
        conforme Cláusula décima primeira do acordo de cooperação federativa.
        Tenho ciência de que o servidor designado terá a incumbência de dar cumprimento às obrigações pactuadas,
        já ou futuramente detalhadas em metas descritas no Plano de Trabalho e encaminhamento dos assuntos pertinentes.
      </p>
      <p>
        ______________________, {% now "d \d\e F \d\e Y"%}<br><br>
        <center>
          _____________________________________________<br>
          Assinatura do Prefeito
          <br><br>
          Prefeito do Município de ____________________/____
        </center>
      </p>
    </div>
  </body>
</html>
