{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<form class="form-horizontal" method="post">
    {% csrf_token %}
    <h3>
      <strong>Alterar Conselheiro</strong>
    </h3>

    <div class="form-group">
      <div class="col-sm-4">
            <label class="col-sm-4 control-label">
            Nome
            </label>
            {% render_field form.nome class="form-control" placeholder="Nome Completo"%}
            {{ form.nome.errors }}
            <br>
            <label class="col-sm-4 control-label">
                Email
            </label>
            {% render_field form.email class="form-control" placeholder="Email"%}
            {{ form.email.errors }}
            <br>
            <label class="col-sm-4 control-label">
                Segmento
            </label>
            <select id="id_segmento" class="form-control segmento" name="segmento">
                <option value="0" selected="">-- Selecione um Segmento --</option>
                <option value="1">Arquitetura e Urbanismo</option>
                <option value="2">Arquivos</option>
                <option value="3">Arte Digital</option>
                <option value="4">Artes Visuais</option>
                <option value="5">Artesanato</option>
                <option value="6">Audiovisual</option>
                <option value="7">Circo</option>
                <option value="8">Culturas Afro-brasileiras</option>
                <option value="9">Culturas dos Povos Indígenas</option>
                <option value="10">Culturas Populares</option>
                <option value="11">Dança</option>
                <option value="12">Design</option>
                <option value="13">Literatura, Livro e Leitura</option>
                <option value="14">Moda</option>
                <option value="15">Museus</option>
                <option value="16">Música Erudita</option>
                <option value="17">Música Popular</option>
                <option value="18">Patrimônio Imaterial</option>
                <option value="19">Patrimônio Material</option>
                <option value="20">Teatro</option>
                <option value="21">Outros</option>
            </select>
            {{ form.segmento.errors }}
            </br>
        <input type="text" name="outros" id="outros" placeholder="Digite aqui seu segmento" class="form-control" style="display: none;"/><br/>
      </div>
    </div>

    <input type="submit" class="btn btn-success" value="Salvar" />
</form>

<script type="text/javascript">

    $(document).ready(function(){

        var segmentos = [];

        var campoescondido = function() {

            $(this).parent().children('[name=outros]').fadeOut();
            if ($(this).val() === '21'){
              $(this).parent().children('[name=outros]').fadeIn();
            }
        }
        $(".segmento").change(campoescondido);

        $("select.segmento>option").each(function(){
            segmentos.push($(this).text());
            if($(this).text() == '{{conselheiro.segmento}}'){
                $(this).attr("selected","selected");
                $(".segmento").trigger("change");
            }
        });

        if(segmentos.indexOf("{{conselheiro.segmento}}") === -1){
            $("#id_segmento option[value='21']").attr("selected","selected");
            $(".segmento").trigger("change");
            $('#outros').val("{{conselheiro.segmento}}");
        }

    });
</script>

{% endblock content %}
