{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <p>
    <strong>Sanção da Lei de criação do Sistema de Cultura pelo Governador/Prefeito</strong>
  </p>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">Lei do Sistema de Cultura</label>
    {% if form.arquivo.value %}
    <p><a href="{{form.arquivo.value.url}}">Baixar arquivo atual</a></p>
    {% if request.user.usuario.plano_trabalho.criacao_sistema.situacao.id != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
    {{ form.arquivo.errors }}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar a minuta e discuti-la com a sociedade;<br>
    - Encaminhar para análise jurídica;<br>
    - Encaminhar ao governador/prefeito para sanção;<br>
    - Publicar no Diário Oficial.<br><br>
    <strong>-Observação:</strong>Fontes de pesquisa:<br>
    -Modelo da lei do sistema municipal de cultura disponível no site<br>
    <a href="http://cultura.gov.br/snc">http://cultura.gov.br/snc</a>: "Guia de Orientaçoẽs aos municípios"<br>
    - Leis de sistemas de cultura de outros municípios/estados disponível na plataforma do SNC em <a href="http://snc.cultura.gov.br/adesao/consultar/">http://snc.cultura.gov.br/adesao/consultar/</a><br><br>
    Atenção! Estes modelos devem ser adequados à realidade do município.

  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
{% endblock content %}
