{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>
  <h5>
    <strong>2.2 Instalação do Conselho de Política Cultural</strong>
  </h5>
  <div class="form-group">
    <label for={{ form.data_final_instalacao_conselho.id_for_label }} class="col-sm-12">
      Data final para instalação do Conselho de Política Cultural
    </label>
    {% if request.user.usuario.plano_trabalho.conselho_cultural %}
      {% render_field form.data_final_instalacao_conselho readonly="true" %}
    {% else %}
      {% render_field form.data_final_instalacao_conselho class="date"%}
    {% endif %}
    {{ form.data_final_instalacao_conselho.errors }}
  </div>
  {% if request.user.usuario.plano_trabalho.conselho_cultural %}
  <div class="form-group">
    <label for="{{ form.ata_regimento_aprovado.id_for_label }}">
      Ata da reunião de instalação e Regimento Aprovado
    </label>
    {% if form.ata_regimento_aprovado.value %}
    <p><a href="{{ form.ata_regimento_aprovado.value.url }}">Baixar arquivo atual</a></p>
    {% if request.user.usuario.plano_trabalho.conselho_cultural.situacao_ata != 2 %}
    <p>Modificar: {% render_field form.ata_regimento_aprovado %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.ata_regimento_aprovado %}</p>
    {% endif %}
    {{ form.ata_regimento_aprovado.errors }}
  </div>
  <div class="form-group">
    <label>Conselheiros (clique no + para adicionar mais conselheiros)</label><br/>
    <div class="actions">
      <input type="text" name="conselheiro" placeholder="Nome Completo" class="form-control"/>
      <input type="email" name="email" placeholder="Email" class="form-control"/>
      <select name="segmento" class="form-control segmento">
        <option value="0" selected>-- Selecione um Segmento --</option>
        <option value="1">Arquitetura e Urbanismo</option>
        <option value="2">Arquivos</option>
        <option value="3">Arte Digital</option>
        <option value="4">Artes Visuais</option>
        <option value="5">Artesanato</option>
        <option value="6">Audiovisual</option>
        <option value="7">Circo</option>
        <option value="8">Culturas Afro-brasileiras</option>
        <option value="9">Culturas dos Povos Indígenas</option>
        <option value="10">Culturas Populares</option>
        <option value="11">Dança</option>
        <option value="12">Design</option>
        <option value="13">Literatura, Livro e Leitura</option>
        <option value="14">Moda</option>
        <option value="15">Museus</option>
        <option value="16">Música Erudita</option>
        <option value="17">Música Popular</option>
        <option value="18">Patrimônio Imaterial</option>
        <option value="19">Patrimônio Material</option>
        <option value="20">Teatro</option>
        <option value="21">Outros</option>
      </select>
      <input type="text" name="outros_segmento" placeholder="Digite aqui seu segmento" class="form-control" style="display: none;"/><br/>
    </div>
    <button type="button" class="btn btn-success add">
      <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-warning del">
      <i class="fa fa-minus"></i>
    </button>
  </div>
  {% endif %}

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades!</strong><br>
    - Mobilizar a sociedade, em especial as redes culturais;<br>
    - Realizar o processo de eleição;<br>
    - Definir estrutura de apoio/suporte ao conselho;<br>
    - Convocar os Conselheiros eleitos e realizar reunião de instalação e posse;<br>
    - Aprovar o regimento Interno do Conselho.
  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
<script type="text/javascript">
  input = $('.actions:first').clone();
  $(".segmento").change(function(){
    if ($(this).val() === '21'){
      $(this).parent().children('[name=outros_segmento]').fadeIn();
    }else {
      $(this).parent().children('[name=outros_segmento]').fadeOut();
    }
  });
  $('.add').click(function() {
        input.clone().attr('id', 'conselheiro_' + $('.actions').length)
        .insertAfter($('.actions:last'));
        {% verbatim %}
        $(".cpf").formatter({
          'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
          'persistent': false,
        });
        {% endverbatim %}
        $(".segmento").change(function(){
          if ($(this).val() === '21'){
            $(this).parent().children('[name=outros_segmento]').fadeIn();
          }else {
            $(this).parent().children('[name=outros_segmento]').fadeOut();
          }
        });
  });
  $('.del').click(function() {
    if($('.actions').length > 1)
      $('.actions:last').remove();
  });

  $.ajax({
    type: "GET",
    url: "/planotrabalho/conselheiros",
    cache: false,
    data: {
      'id': {{object.id}},
    },
    success: function(data){
      data['conselheiros'].forEach(function(val, index, array){
        input
        .clone()
        .attr('id', 'conselheiro_' + $('.actions').length)
        .insertAfter($('.actions:last'))
        .children('[name=conselheiro]')
        .attr('value', val[0])
        .parent()
        .children('[name=email]')
        .attr('value', val[1])
        .parent()
        .children('[name=segmento]')
        .find("option[text='"+ val[2] +"']")
        .attr("selected", true);
      });
      $(".segmento").off('change').change(function(){
        if ($(this).val() === '21'){
          $(this).parent().children('[name=outros_segmento]').fadeIn();
        }else {
          $(this).parent().children('[name=outros_segmento]').fadeOut();
        }
      });
    },
  });
</script>
{% endblock content %}
