{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>
  <h5>
    <strong>2.3 Instituição do Fundo de Cultura</strong>
  </h5>

  <div class="form-group {% if form.cnpj.errors %} has-error {% endif %}">
    <label for="{{ form.cnpj.id_for_label }}" class="col-sm-12">
      CNPJ
    </label>
    {% render_field form.cnpj class="form-control cnpj half-width" %}
    {% if form.cnpj.errors %} 
      <span class="help-block">{{ form.cnpj.errors }}</span>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.data_publicacao.id_for_label }}">
      Data de Publicação da Lei do Fundo de Cultura
    </label>
    {% render_field form.data_publicacao class="form-control date half-width" %}
    {{ form.data_publicacao.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">
      Lei de criação do Fundo Estadual/Municipal de Cultura e CNPJ
    </label>
    {% if form.arquivo.value %}
    <p><a href="{{ form.arquivo.value.url }}">Baixar arquivo atual</a></p>
    {% if view.kwargs.sistema.fundo_cultura.situacao != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
    {{ form.arquivo.errors }}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar minuta (proposta) de regulamentação do fundo e de outros mecanismos de financiamento;<br>
    - Encaminhar para discussão a minuta para avaliação e aprovação;<br>
    - Publicar no Diário Oficial a regulamentação do fundo e dos outros mecanismos de financiamento.<br>
    <strong>Observação:&nbsp</strong><br>
    -Manuais disponiveis no site: <a href="http://portalsnc.cultura.gov.br/manuais/"> http://portalsnc.cultura.gov.br/manuais/</a>
    -Componentes do Sistema: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/"> http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
  </div>


  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
{% endblock content %}
