{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>
  <h5>
    <strong>2.2 Instalação do Conselho de Política Cultural</strong>
  </h5>

  <div class="form-group">
    <label for="{{ form.data_publicacao.id_for_label }}">
      Data de publicação
    </label>
    {% render_field form.data_publicacao class="form-control date half-width" %}
    {{ form.data_publicacao.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">
      Ata da última reunião realizada pelo conselho
    </label>
    {% if form.arquivo.value %}
    <p><a href="{{ form.arquivo.value.url }}">Baixar arquivo atual</a></p>
    {% if request.user.usuario.plano_trabalho.conselho_cultural.situacao.id != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
    {{ form.arquivo.errors }}
  </div>

  <label for={{ form.data_final_instalacao_conselho.id_for_label }} class="col-sm-12">
    Para adicionar um novo conselheiro <a href="{% url 'planotrabalho:listar_conselheiros' %}" >clique aqui</a>
  </label>
  </br>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Mobilizar a sociedade, em especial as redes culturais;<br>
    - Realizar o processo de eleição;<br>
    - Definir estrutura de apoio/suporte ao conselho;<br>
    - Convocar os Conselheiros eleitos e realizar reunião de instalação e posse;<br>
    - Aprovar o regimento Interno do Conselho.
  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
<script type="text/javascript">
  input = $('.actions:first').clone();
  $(".segmento").change(function(){
    if ($(this).val() === '21'){
      $(this).parent().children('[name=outros_segmento]').fadeIn();
    }else {
      $(this).parent().children('[name=outros_segmento]').fadeOut();
    }
  });
  $('.add').click(function() {
        input.clone().attr('id', 'conselheiro_' + $('.actions').length)
        .insertAfter($('.actions:last'));
        {% verbatim %}
        $(".cpf").formatter({
          'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
          'persistent': false,
        });
        {% endverbatim %}
        $(".segmento").change(function(){
          if ($(this).val() === 'Outros'){
            $(this).parent().children('[name=outros_segmento]').fadeIn();
          }else {
            $(this).parent().children('[name=outros_segmento]').fadeOut();
          }
        });
  });
  $('.del').click(function() {
    if($('.actions').length > 1)
      $('.actions:last').remove();
  });

  $.ajax({
    type: "GET",
    url: "/planotrabalho/conselheiros",
    cache: false,
    data: {
      'id': {{object.id}},
    },
    success: function(data){
      data['conselheiros'].forEach(function(val, index, array){
        input
        .clone()
        .attr('id', 'conselheiro_' + $('.actions').length)
        .insertAfter($('.actions:last'))
        .children('[name=conselheiro]')
        .attr('value', val[0])
        .parent()
        .children('[name=email]')
        .attr('value', val[1])
        .parent()
        .children('[name=segmento]');
        options = $('#conselheiro_'+(index+1))
        .children('[name=segmento]');
        if (options.find('option[value="'+val[2]+'"]').length){
          options.val(val[2]).attr("selected", true);
        }else {
          options.val("Outros").attr("selected", true);
          options.parent().children('[name=outros_segmento]').val(val[2]).fadeIn();
        }
      });
      $(".segmento").off('change').change(function(){
        if ($(this).val() === 'Outros'){
          $(this).parent().children('[name=outros_segmento]').fadeIn();
        }else {
          $(this).parent().children('[name=outros_segmento]').fadeOut();
        }
      });
    },
  });
</script>
{% endblock content %}
