{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Elaboração do Plano de Cultura</strong>
  </h3>

  <h5>
    <strong>Lei de criação do Plano de Cultura (com as metas)</strong>
  </h5>
  <div class="form-group">
    <label for={{ form.data_final_sancao_lei_plano_cultura.id_for_label }} class="col-sm-12">
      Data final para sanção da lei do Plano de Cultura
    </label>
    {% if request.user.usuario.plano_trabalho.plano_cultura %}
      {% render_field form.data_final_sancao_lei_plano_cultura readonly="true" %}
    {% else %}
      {% render_field form.data_final_sancao_lei_plano_cultura class="date"%}
    {% endif %}
    {{ form.data_final_sancao_lei_plano_cultura.errors }}
  </div>
  {% if request.user.usuario.plano_trabalho.plano_cultura %}
  <div class="form-group">
    <label for="{{ form.lei_plano_cultura.id_for_label }}">
      Publicação da Lei no Diário Oficial
    </label>
    {% if form.lei_plano_cultura.value %}
    <p><a href="{{ form.lei_plano_cultura.value.url }}">Baixar arquivo atual</a></p>
    {% if request.user.usuario.plano_trabalho.plano_cultura.situacao_lei_plano != 2 %}
    <p>Modificar: {% render_field form.lei_plano_cultura %}</p>
    {% endif %}
    {% else %}
    {% render_field form.lei_plano_cultura %}
    {% endif %}
    {{ form.lei_plano_cultura.errors }}
  </div>
  {% endif %}
  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Encaminhar para assinatura do governador/prefeito;<br>
    - Publicar no Diário Oficial.
  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
{% endblock content %}
