{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Elaboração do Plano de Cultura</strong>
  </h3>

  <h5>
    <strong>Lei de criação do Plano de Cultura (com as metas)</strong>
  </h5>

  <div class="form-group">
    <label for="{{ form.data_publicacao.id_for_label }}">
      Data de publicação
    </label>
    {% render_field form.data_publicacao class="form-control date half-width" %}
    {{ form.data_publicacao.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">
      Publicação da Lei no Diário Oficial
    </label>
    {% if form.arquivo.value %}
    <p><a href="{{ form.arquivo.value.url }}">Baixar arquivo atual</a></p>
    {% if request.user.usuario.plano_trabalho.plano_cultura.situacao.id != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
    {{ form.arquivo.errors }}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>

    - Sensibilização e mobilização social;<br>
    - Definição das instâncias de consulta e debate;<br>
    - Definição da instância técnica para elaborar a minuta do Plano;<br>
    - Acompanhamento/ coordenação e validação: feito pelo Conselho Municipal de Política
    Cultural;<br>
    - Elaboração do Plano de Cultura:<br>
    <p style="margin-left: 30px;" >
        a) Passo 1: elaborar uma análise situacional (diagnóstico da cultura);</br>
        b) Passo 2: elaborar prognóstico com objetivos, estratégias, metas e ações
        (Projeção do futuro desejado);</br>
        c) Passo 3: realizar consulta pública para validação do texto;</br>
        d) Passo 4: revisar o plano com base nas considerações compiladas durante a consulta pública;
    </p>
        - Encaminhar para validação do conselho de cultura;<br>
        - Encaminhar para assinatura do governador/prefeito;<br>
        -Encaminhar o projeto de lei do plano para o poder legislativo (assembleias legislativas, câmara dos vereadores e câmara legislativa) aprovar;<br>
        - Quando o projeto virar lei, ele deverá ser publicado no Diário Oficial;<br><br>
        - <strong>Observação:&nbsp</strong> Fontes de pesquisa:<br>
        - Site do PNC:<a href="http://pnc.culturadigital.br/"> http://pnc.culturadigital.br/</a><br>
        - Publicação “Como fazer um plano de cultura”, disponível o site<br><a href="http://pnc.culturadigital.br/2013/12/06/como-fazer-um-plano-de-cultura/">http://pnc.culturadigital.br/2013/12/06/como-fazer-um-plano-de-cultura/</a>
        - Modelo da lei do sistema municipal de cultura disponível no site&nbsp &nbsp  <a href="http://cultura.gov.br/snc">http://cultura.gov.br/snc</a>:
       “Guia de Orientações aos municípios”<br>
        - Leis de sistemas de cultura de outros municípios/estados disponível na plataforma do
        SNC em <a href="http://snc.cultura.gov.br/adesao/consultar/">http://snc.cultura.gov.br/adesao/consultar/</a>
    </p>
  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
{% endblock content %}
