{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <p>
    <strong>Sanção da Lei de criação do Sistema de Cultura pelo Governador/Prefeito</strong>
  </p>

  <div class="form-group">
    <label for="{{ form.data_publicacao.id_for_label }}">
      Data de Publicação da Lei do Sistema de Cultura
    </label>
    {% render_field form.data_publicacao class="form-control date half-width" %}
    {{ form.data_publicacao.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">Lei do Sistema de Cultura</label>
    {% if form.arquivo.value %}
    <p><a href="{{form.arquivo.value.url}}">Baixar arquivo atual</a></p>
    {% if request.user.usuario.plano_trabalho.criacao_sistema.situacao.id != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
    {{ form.arquivo.errors }}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar a minuta e discuti-la com a sociedade;<br>
    - Encaminhar para análise jurídica;<br>
    - Encaminhar ao governador/prefeito para sanção;<br>
    - Publicar no Diário Oficial.<br><br>
    <strong>Observação:</strong><br>
    -Manuais disponíveis no site: <br>
    <a href="http://portalsnc.cultura.gov.br/manuais/">http://portalsnc.cultura.gov.br/manuais/</a><br>
    -Modelo de lei editável em Word: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/">http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
    -Componente do Sistema de Cultura: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/">http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
    Atenção! Estes modelos devem ser adequados à realidade do município.

  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
{% endblock content %}
