{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Estruturação dos Componentes</strong>
  </h3>
  <h5>
    <strong>2.1 Estruturação e implementação da Secretaria de Cultura ou órgão equivalente
      (Secretaria em conjunto com outras políticas, fundação de cultura, departamento, coordenação, diretoria, etc)</strong>
  </h5>

  <div class="form-group">
    <label for="{{ form.data_publicacao.id_for_label }}">
      Data da Publicação do Ato Normativo relativo a criação do Órgão Gestor
    </label>
    {% render_field form.data_publicacao class="form-control date half-width" %}
    {{ form.data_publicacao.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo.id_for_label }}">
      Comprovação de criação do órgão gestor
    </label>
    {% if form.arquivo.value %}
    <p><a href="{{ form.arquivo.value.url }}">Baixar arquivo atual</a></p>
    {% if view.kwargs.sistema.orgao_gestor.situacao != 2 %}
    <p>Modificar: {% render_field form.arquivo %}</p>
    {% endif %}
    {% else %}
    <p>{% render_field form.arquivo %}</p>
    {% endif %}
    {{ form.arquivo.errors }}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar minuta;<br>
    - Discutir e consultar a sociedade civil (através de seminários, reuniões com entidade civil, audiências, etc);<br>
    - Encaminhar para análise jurídica;<br>
    - Encaminhar ao governador/prefeito para aprovação;<br>
    - Encaminhar ao Poder Legislativo.
  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
{% endblock content %}
