{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    <strong>Etapa A - Institucionalização do Sistema de Cultura</strong>
  </p>
  <p>
    <strong>1.1 Elaboração do Projeto de Lei do Sistema de Cultura</strong>
  </p>
  <div class="form-group">
    <label for={{ form.data_final_elaboracao_projeto_lei.id_for_label }} class="col-sm-12">
      Data final para elaboração do Projeto de Lei do Sistema de Cultura
    </label>
    {% render_field form.data_final_elaboracao_projeto_lei class="date"%}
    {{ form.data_final_elaboracao_projeto_lei.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.lei_sistema_cultura.id_for_label }}">Minuta do Projeto de Lei</label>
    {% render_field form.minuta_projeto_lei %}
    {{ form.lei_sistema_cultura.errors }}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>
    - Elaborar minuta;<br>
    - Discutir e consultar a sociedade civil (através de seminários, reuniões com entidade civil, audiências, etc...);<br>
    - Encaminhar para análise jurídica;<br>
    - Encaminhar ao governador/prefeito para aprovação;<br>
    - Encaminhar ao Poder Legislativo.
  </div>

  <hr />
  <p>
    <strong>1.2 Sanção da Lei do Sistema de Cultura pelo Governador/Prefeito</strong>
  </p>
  <div class="form-group">
    <label for={{ form.data_final_sancao_lei.id_for_label }} class="col-sm-12">
      Data final para sanção da Lei do Sistema de Cultura pelo Governador/Prefeito
    </label>
    {% render_field form.data_final_sancao_lei class="date"%}
    {{ form.data_final_sancao_lei.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.lei_sistema_cultura.id_for_label }}">Lei do Sistema de Cultura</label>
    {% render_field form.lei_sistema_cultura %}
    {{ form.lei_sistema_cultura.errors }}

  </div>

  <div class="alert alert-info" role="alert">
    Para execução, sugerimos as seguintes atividades:<br>
    - Encaminhar para assinatura do governador/prefeito;<br>
    - Publicar no Diário Oficial.
  </div>

  <input type="submit" class="btn btn-success" value="Próximo" />
</form>
</div>
{% endblock content %}
