{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <p style="text-align: justify;">
    Você está no ambiente do Plano de Trabalho. Nesta fase, é preciso anexar as comprovações de execução de cada um dos componentes do sistema de cultura local (como leis, decretos e demais normativas), bem como a data de publicação de cada uma delas, nos campos específicos disponíveis nesta plataforma.
  </p>
  <p style="text-align: justify;">
    Tais arquivos serão validados pela equipe do Ministério da Cultura responsável pelo SNC que enviará uma mensagem após conclusão do procedimento, para o e-mail cadastrado pelo ente federado (estado/município). É importante manter suas informações sempre atualizadas.
  </p>
  <p style="text-align: justify;">
    OBS: Conforme Acordo de Cooperação Federativa assinado, o ente federado compromete-se a cumprir com o Plano de Trabalho em até dois anos contados da data de publicação do referido Acordo no Diário Oficial da União (DOU). Caso o prazo não seja cumprido, é necessário que o ente federado envie um Oficio assinado pelo Governador – Estado ou Prefeito – Município, solicitando prorrogação por mais dois anos para o e-mail <strong>snc@cultura.gov.br</strong>. Vide tutorial <a href="http://www.cultura.gov.br/documents/1440656/0/%255bNOVA+PLATAFORMA%255d+Como+preencher+o+Plano+de+Trabalho+-+atual..pdf/265b3f60-0e0e-4fd2-a813-85bb3790e64b">“Ofício de Prazo do Plano de Trabalho”</a>
  </p>
  <hr />

  <ul class="list-group">

    <li class="list-group-item">
      <p>
        <strong>I. Institucionalização do Sistema Estadual/Municipal de Cultura</strong>
      </p>
      <p>
        Lei de Criação do Sistema de Cultura
      </p>
      {% if sistema.legislacao.situacao != 2 %}
        {% if sistema.legislacao.situacao == 1 %}
          <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='legislacao' %}">Aguarda Análise</a>
        {% elif request.session.sistema_cultura_selecionado.estado_processo == '6' %}
          <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='legislacao' %}">Enviar Comprovação</a>
        {% endif %}
      {% endif %}
      <br />
      <br />
    </li>
    <hr /><br />
    <li class="list-group-item">
      <p>
        <strong>II. Estruturação dos Componentes</strong>
      </p>

        <p>
          a) Órgão Gestor
        </p>
        {% if sistema.orgao_gestor.situacao != 2 %}
          {% if sistema.orgao_gestor.situacao == 1 %}
            <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='orgao_gestor' %}">Aguarda Análise</a>
          {% elif request.session.sistema_cultura_selecionado.estado_processo == '6' %}
            <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='orgao_gestor' %}" />Enviar Comprovação</a>
          {% endif %}
        {% endif %}
        <br />
        <p>
          b) Conselho de Política Cultural
        </p>
        {% if sistema.conselho.situacao != 2 %}
          {% if sistema.conselho.situacao == 1 %}
            <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='conselho' %}">Aguarda Análise</a>
          {% elif request.session.sistema_cultura_selecionado.estado_processo == '6' %}
            <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='conselho' %}" >Enviar Comprovação</a>
          {% endif %}
        {% endif %}
        <br />
        <p>
          c) Fundo de Cultura
        </p>
        {% if sistema.fundo_cultura.situacao != 2 %}
          {% if sistema.fundo_cultura.situacao == 1 %}
            <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='fundo_cultura' %}">Aguarda Análise</a>
          {% elif request.session.sistema_cultura_selecionado.estado_processo == '6' %}
            <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='fundo_cultura' %}" >Enviar Comprovação</a>
          {% endif %}
        {% endif %}
        <br />
        <br />
    </li>
    <hr /><br />
    <li class="list-group-item">
        <p>
          <strong>III. Elaboração do Plano de Cultura</strong>
        </p>
        <p>
          Plano de Cultura
        </p>
        {% if sistema.plano.situacao != 2 %}
          {% if sistema.plano.situacao == 1 %}
          <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='plano' %}">Aguarda Análise</a>
          {% elif request.session.sistema_cultura_selecionado.estado_processo == '6' %}
          <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:cadastrar_componente' tipo='plano' %}" >Enviar Comprovação</a>
          {% endif %}
        {% endif %}
    </li>

  </ul>
{% endblock content %}
