{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
  <p>
    {% blocktrans %}Primeiro parágrafo da tela inicial do Plano de Trabalho{% endblocktrans %}
  </p>
  <p>
    <strong>{% blocktrans %}Lembramos que o prazo limite para a execução de todas as etapas do Plano de Trabalho é de 2 anos, contados a partir da publicação do Acordo de Cooperação Federativa no Diário Oficial da União.{% endblocktrans %}</strong>
    {% blocktrans %}Caso o Plano de Trabalho esteja próximo do prazo final, e as etapas ainda não estejam totalmente concluídas, será necessário solicitar a prorrogação, por meio de ofício assinado pelo Chefe do Executivo.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}No momento em que as tarefas forem sendo concluídas, será preciso anexar comprovações de execução de cada uma delas (em campos disponíveis na plataforma) para serem validadas pela Secretaria de Articulação Institucional deste Ministério. Com isso, o progresso de execução do Plano de Trabalho poderá ser acompanhado.{% endblocktrans %}
  </p>
  <hr />

  <ul class="list-group">

    <li class="list-group-item">
      <p>
        <strong>I. Institucionalização do Sistema Estadual/Municipal de Cultura</strong>
      </p>
      <p>
        <strong>a) Lei de Criação do Sistema de Cultura</strong>
      </p>
      {% if request.user.usuario.plano_trabalho.criacao_sistema %}
      <strong>Data final para sanção da Lei do Sistema de Cultura:</strong> {{request.user.usuario.plano_trabalho.criacao_sistema.data_final_sancao_lei}}<br>
      <a class="btn btn-success" href="{% url 'planotrabalho:sistema' %}">Modificar</a>
      {% else %}
      <a class ="btn btn-warning" href="{% url 'planotrabalho:sistema' %}" >Preencher</a>
      {% endif %}
    </li>

    <li class="list-group-item">
      <p>
        <strong>II. Estruturação dos Componentes</strong>
      </p>

        <p>
          <strong>a) Órgão Gestor</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.orgao_gestor %}
        <strong>Data final para estruturação da Secretaria de Cultura:</strong> {{request.user.usuario.plano_trabalho.orgao_gestor.data_final_estruturacao_secretaria}} <br>
        <a class="btn btn-success" href="{% url 'planotrabalho:gestor' %}" />Modificar</a>
        {% else %}
        <a class="btn btn-warning" href="{% url 'planotrabalho:gestor' %}" />Preencher</a>
        {% endif %}

        <p>
          <strong>b) Conselho de Política Cultural</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.conselho_cultural %}
        <strong>Data final para instalação do Conselho de Política Cultural:</strong> {{request.user.usuario.plano_trabalho.conselho_cultural.data_final_instalacao_conselho}} <br>
        <a class="btn btn-success" href="{% url 'planotrabalho:conselho' %}" >Modificar</a>
        {% else %}
        <a class="btn btn-warning" href="{% url 'planotrabalho:conselho' %}" >Preencher</a>
        {% endif %}

        <p>
          <strong>c) Fundo de Cultura</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.fundo_cultura %}
        <strong>Data final para instituição do Fundo de Cultura:</strong> {{request.user.usuario.plano_trabalho.fundo_cultura.data_final_instituicao_fundo_cultura}} <br>
        <a class="btn btn-success" href="{% url 'planotrabalho:fundo' %}" >Modificar</a>
        {% else %}
        <a class="btn btn-warning" href="{% url 'planotrabalho:fundo' %}" >Preencher</a>
        {% endif %}

    </li>

    <li class="list-group-item">
        <p>
          <strong>III. Elaboração do Plano de Cultura</strong>
        </p>
        <p>
          <strong>a) Plano de Cultura</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.plano_cultura %}
        <strong>Data final para sanção da Lei do Plano de Cultura:</strong> {{request.user.usuario.plano_trabalho.plano_cultura.data_final_sancao_lei_plano_cultura}} <br>
        <a class="btn btn-success" href="{% url 'planotrabalho:plano' %}" >Modificar</a>
        {% else %}
        <a class="btn btn-warning" href="{% url 'planotrabalho:plano' %}" >Preencher</a>
        {% endif %}
    </li>

  </ul>
</div>
{% endblock content %}
