{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <p>
    {% blocktrans %}Primeiro parágrafo da tela inicial do Plano de Trabalho{% endblocktrans %}
  </p>
  <p>
    <strong>{% blocktrans %}Segundo parágrafo da tela inicial do Plano de Trabalho{% endblocktrans %}</strong>
    {% blocktrans %}Terceiro parágrafo da tela inicial do Plano de Trabalho{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Quarto parágrafo da tela inicial do Plano de Trabalho{% endblocktrans %}
  </p>
  <hr />

  <ul class="list-group">

    <li class="list-group-item">
      <p>
        <strong>{% blocktrans %}Título do primeiro passo do Plano de Trabalho{% endblocktrans %}</strong>
      </p>
      <p>
        <strong>{% blocktrans %}Item 1-a do Plano de Trabalho{% endblocktrans %}</strong>
      </p>
      {% if request.user.usuario.plano_trabalho.criacao_sistema %}
      <strong>{% blocktrans %}Data final lei de cultura{% endblocktrans %}</strong> {{request.user.usuario.plano_trabalho.criacao_sistema.data_final_sancao_lei}}<br>
      <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:sistema' %}">Enviar Comprovação</a>
      {% else %}
      <a class ="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:sistema' %}" >Preencher</a>
      {% endif %}
    </li>

    <li class="list-group-item">
      <p>
        <strong>{% blocktrans %}Título do segundo passo do plano de trabalho{% endblocktrans %}</strong>
      </p>

        <p>
          <strong>{% blocktrans %}item criação Órgão Gestor{% endblocktrans %}</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.orgao_gestor %}
        <strong>{% blocktrans %}Data final para estruturação da Secretaria de Cultura:{% endblocktrans %}</strong> {{request.user.usuario.plano_trabalho.orgao_gestor.data_final_estruturacao_secretaria}} <br>
        <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:gestor' %}" />Enviar Comprovação</a>
        {% else %}
        <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:gestor' %}" />Preencher</a>
        {% endif %}

        <p>
          <strong>{% blocktrans %}b) Conselho de Política Cultural{% endblocktrans %}</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.conselho_cultural %}
        <strong>{% blocktrans %}Data final para instalação do Conselho de Política Cultural:{% endblocktrans %}</strong> {{request.user.usuario.plano_trabalho.conselho_cultural.data_final_instalacao_conselho}} <br>
        <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:conselho' %}" >Enviar Comprovação</a>
        {% else %}
        <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:conselho' %}" >Preencher</a>
        {% endif %}

        <p>
          <strong>{% blocktrans %}c) Fundo de Cultura{% endblocktrans %}</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.fundo_cultura %}
        <strong>{% blocktrans %}Data final para instituição do Fundo de Cultura:{% endblocktrans %}</strong> {{request.user.usuario.plano_trabalho.fundo_cultura.data_final_instituicao_fundo_cultura}} <br>
        <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:fundo' %}" >Enviar Comprovação</a>
        {% else %}
        <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:fundo' %}" >Preencher</a>
        {% endif %}

    </li>

    <li class="list-group-item">
        <p>
          <strong>{% blocktrans %}III. Elaboração do Plano de Cultura{% endblocktrans %}</strong>
        </p>
        <p>
          <strong>{% blocktrans %}a) Plano de Cultura{% endblocktrans %}</strong>
        </p>
        {% if request.user.usuario.plano_trabalho.plano_cultura %}
        <strong>{% blocktrans %}Data final para sanção da Lei do Plano de Cultura:{% endblocktrans %}</strong> {{request.user.usuario.plano_trabalho.plano_cultura.data_final_sancao_lei_plano_cultura}} <br>
        <a class="btn btn-success" style="color:#FFF" href="{% url 'planotrabalho:plano' %}" >Enviar Comprovação</a>
        {% else %}
        <a class="btn btn-warning" style="color:#FFF" href="{% url 'planotrabalho:plano' %}" >Preencher</a>
        {% endif %}
    </li>

  </ul>
{% endblock content %}
