{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Municípios que concluíram o preenchimento dos dados
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <form method="get" action="">
          <div class="input-group custom-search-form col-lg-3">
              <input type="text" name="municipio" class="form-control" placeholder="Município ou Estado">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
        </form>
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover dt-responsive" id="dataTables-example">
            <thead>
              <tr>
                <th>Detalhar</th>
                <th>Município/Estado</th>
                <th>Prefeito/Governador</th>
                <th>RG</th>
                <th>CPF</th>
                <th>CNPJ</th>
                <th>Situação</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for municipio in object_list %}
                <tr class="odd gradeX">
                {% if municipio.usuario %}
                  <td><center><a href="{% url 'gestao:detalhar' municipio.usuario.id %}"><i class="fa fa-file"></i></a></center></td>
                {% else %}
                <td></td>
                {% endif %}
                {% if municipio.cidade %}
                  <td>{{ municipio.cidade }}/{{ municipio.estado }}</td>
                {% else %}
                  <td>{{ municipio.estado.nome_uf }}</td>
                {% endif %}
                  {% if municipio.termo_posse_prefeito %}
                  <td><a href="{{ municipio.termo_posse_prefeito.url }}">{{ municipio.nome_prefeito }}</a></td>
                  {% else %}
                  <td><a href="#">{{ municipio.nome_prefeito }}</a></td>
                  {% endif %}

                  {% if municipio.rg_copia_prefeito %}
                  <td><a href="{{ municipio.rg_copia_prefeito.url }}">{{ municipio.rg_prefeito }}</a></td>
                  {% else %}
                  <td><a href="#">{{ municipio.rg_prefeito }}</a></td>
                  {% endif %}

                  {% if municipio.cpf_copia_prefeito %}
                  <td><a href="{{ municipio.cpf_copia_prefeito.url }}">{{ municipio.cpf_prefeito }}</a></td>
                  {% else %}
                  <td><a href="#">{{ municipio.cpf_prefeito }}</a></td>
                  {% endif %}
                  <td>{{ municipio.cnpj_prefeitura }}</td>
                  {% if municipio.usuario %}
                  <form name="form" action="{% url 'gestao:alterar_situacao' municipio.usuario.id %}" method="post">
                  <td>
                    {% csrf_token %}
                      <select id="select_situacao_{{forloop.counter0}}" name="estado_processo" class="form-control">
                        <option value="1" {% if municipio.usuario.estado_processo == '1' %}selected{% endif %}>Aguardando envio da documentação</option>
                        <option value="2" {% if municipio.usuario.estado_processo == '2' %}selected{% endif %}>Documentação Recebida - Aguarda Análise</option>
                        <option value="3" {% if municipio.usuario.estado_processo == '3' %}selected{% endif %}>Diligência Documental</option>
                        <option value="4" {% if municipio.usuario.estado_processo == '4' %}selected{% endif %}>Encaminhado para assinatura do Secretário SAI</option>
                        <option value="5" {% if municipio.usuario.estado_processo == '5' %}selected{% endif %}>Aguarda Publicação no DOU</option>
                        <option value="6" {% if municipio.usuario.estado_processo == '6' %}selected{% endif %}>Publicado no DOU</option>
                      </select>
                      <textarea id="justificativa_{{forloop.counter0}}" name="justificativa" class="form-control hide" placeholder="Justificativa" rows="4" cols="20"></textarea>
                      <input type="text" id="data_acordo_{{forloop.counter0}}" name="data_publicacao_acordo" class="form-control date hide" placeholder="Data de Publicação"></input>
                      <input type="text" id="localizacao_{{forloop.counter0}}" name="localizacao" class="form-control hide", placeholder="Localização"></input>
                      <input type="text" id="num_processo_{{forloop.counter0}}" name="num_processo" class="form-control hide" placeholder="Número do Processo"></input>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary" title="Alterar Situação" ><i class="fa fa-check"></i></button>
                    </td>
                  </form>
                  {% else %}
                  <td>Município sem cadastrador</td>
                  {% if municipio.cidade %}
                  <td><a href="{% url 'gestao:alterar_cadastrador' %}" class="btn btn-primary" title="Alterar Cadastrador"><i class="fa fa-wrench" /></button></td>
                  {% else %}
                  <td><a href="{% url 'gestao:alterar_cadastrador_estado' %}" class="btn btn-primary" title="Alterar Cadastrador"><i class="fa fa-wrench" /></button></td>
                  {% endif %}
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li>
                <a class="paginate_button previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
              </li>
              {% endif %}
              <li>
                <a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
              </li>
              {% if page_obj.has_next %}
              <li>
                <a class="paginate_button next" href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
{% endblock content %}
{% block js%}
<script type="text/javascript">
  $(document).ready(function(){
    $("[id^='select_situacao']").change(function(e){
      index = $(this).parent().parent().index();
      if($(this).val()==="2"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#localizacao_"+index).hasClass('hide')){
          $("#localizacao_"+index).removeClass('hide');
          $("#localizacao_"+index).fadeIn();
        }
      }
      else if($(this).val()==="3"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#justificativa_"+index).hasClass('hide')){
          $("#justificativa_"+index).removeClass('hide');
          $("#justificativa_"+index).fadeIn();
        }
      }
      else if($(this).val()==="4"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#num_processo_"+index).hasClass('hide')){
          $("#num_processo_"+index).removeClass('hide');
          $("#num_processo_"+index).fadeIn();
        }
      }
      else if($(this).val()==="6"){
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#data_acordo_"+index).hasClass('hide')){
          $("#data_acordo_"+index).removeClass('hide');
          $("#data_acordo_"+index).fadeIn();
        }
      }
      else {
        $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
      }
    });
  });
</script>
{% endblock js%}
