{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Municípios que concluíram o preenchimento dos dados
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <form method="get" action="">
          <div class="input-group custom-search-form col-lg-3">
            <input type="text" name="ente_federado" class="form-control" placeholder="Município ou Estado">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover dt-responsive" id="dataTables-example">
            <thead>
              <tr>
                <th>Análise</th>
                <th>Município/Estado</th>
                <th>Prefeito/Governador</th>
                <th>RG</th>
                <th>CPF</th>
                <th>CNPJ</th>
                <th>Situação <a data-toggle="modal" data-target="#situacoes" ><i class="fa fa-search" title="Filtrar Por Situação"></i><a/></th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody>
              {% if not object_list %}
                <td>Ente federado não encontrado</td>  
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td>            
              {% endif %}
                
              {% for sistema in object_list %}
              <tr class="odd gradeX">
                <td><center><a href="{% url 'gestao:detalhar' cod_ibge=sistema.ente_federado.cod_ibge %}"><i class="fa fa-file"></i></a></center></td>
                <td>{{ sistema.ente_federado }}</td>

                {% if sistema.gestor.termo_posse %}
                <td><a href="{{ sistema.gestor.termo_posse.url }}">{{ sistema.gestor.nome }}</a></td>
                {% else %}
                <td>{{ sistema.gestor.nome }}</td>
                {% endif %}
                {% if sistema.gestor.rg_copia %}
                <td><a href="{{ sistema.gestor.rg_copia.url }}">{{ sistema.gestor.rg }}</a></td>
                {% else %}
                <td><a href="#">{{ sistema.gestor.rg }}</a></td>
                {% endif %}

                {% if sistema.gestor.cpf_copia %}
                <td><a href="{{ sistema.gestor.cpf_copia.url }}">{{ sistema.gestor.cpf }}</a></td>
                {% else %}
                <td><a href="#">{{ sistema.gestor.cpf }}</a></td>
                {% endif %}
                <td>{{ sistema.sede.cnpj }}</td>
                <td>
                  {% if sistema.estado_processo == '0' %}Aguardando dados cadastrais{% endif %}
                  {% if sistema.estado_processo == '1' %}Aguardando envio da documentação{% endif %}
                  {% if sistema.estado_processo == '2' %}Documentação Recebida - Aguarda Análise{% endif %}
                  {% if sistema.estado_processo == '3' %}Diligência Documental{% endif %}
                  {% if sistema.estado_processo == '4' %}Encaminhado para assinatura do Secretário SAI{% endif %}
                  {% if sistema.estado_processo == '5' %}Aguarda Publicação no DOU{% endif %}
                  {% if sistema.estado_processo == '6' %}Publicado no DOU{% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li>
                <a class="paginate_button previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
              </li>
              {% endif %}
              <li>
                <a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
              </li>
              {% if page_obj.has_next %}
              <li>
                <a class="paginate_button next" href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>



<div class="form-group">
  <div class="col-sm-offset-3 col-sm-11">
    <!-- <a class="btn btn-default" href="#" >Cancelar</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Salvar</button> -->

      <div class="modal fade" id="situacoes" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title ">Escolha uma situação para filtrar</h4>
            </div>
            <div class="modal-body">
              <div class="list-group row">
                <a href="/gestao/?situacao=0" class="list-group-item">
                  Aguardando dados cadastrais
                </a>
                <a href="/gestao/?situacao=1" class="list-group-item">
                  Aguardando envio da documentação
                </a>
                <a href="/gestao/?situacao=2" class="list-group-item">
                  Documentação Recebida - Aguarda Análise
                </a>
                <a href="/gestao/?situacao=3" class="list-group-item">
                  Diligência Documental
                </a>
                <a href="/gestao/?situacao=4" class="list-group-item">
                  Encaminhado para assinatura do Secretário SAI
                </a>
                <a href="/gestao/?situacao=5" class="list-group-item">
                  Aguarda Publicação no DOU
                </a>
                <a href="/gestao/?situacao=6" class="list-group-item">
                  Publicado no DOU
                </a>
              </div>
            </div>

            <div class="modal-footer">
              <form action="/gestao">
                <input type="submit" class="btn btn-default" value="Limpar" />
              </form>
            </div>

          </div>

        </div>
      </div>

  </div>
</div>






{% endblock content %}
{% block js%}
<script type="text/javascript">
$(document).ready(function(){
  $("[id^='select_situacao']").change(function(e){
  index = $(this).parent().parent().index();
  if($(this).val()==="2"){
  $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
  if(!$(this).hasClass('hide')){
  $(this).addClass('hide');
  $(this).fadeIn();
}
});
  if($("#localizacao_"+index).hasClass('hide')){
  $("#localizacao_"+index).removeClass('hide');
  $("#localizacao_"+index).fadeIn();
}
}
  else if($(this).val()==="3"){
  $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
  if(!$(this).hasClass('hide')){
  $(this).addClass('hide');
  $(this).fadeIn();
}
});
  if($("#justificativa_"+index).hasClass('hide')){
  $("#justificativa_"+index).removeClass('hide');
  $("#justificativa_"+index).fadeIn();
}
}
  else if($(this).val()==="4"){
  $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
  if(!$(this).hasClass('hide')){
  $(this).addClass('hide');
  $(this).fadeIn();
}
});
  if($("#num_processo_"+index).hasClass('hide')){
  $("#num_processo_"+index).removeClass('hide');
  $("#num_processo_"+index).fadeIn();
}
}
  else if($(this).val()==="6"){
  $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
  if(!$(this).hasClass('hide')){
  $(this).addClass('hide');
  $(this).fadeIn();
}
});
  if($("#data_acordo_"+index).hasClass('hide')){
  $("#data_acordo_"+index).removeClass('hide');
  $("#data_acordo_"+index).fadeIn();
}
}
  else {
  $("input[id$='_"+index+"'], textarea[id$='_"+index+"']").each(function(){
  if(!$(this).hasClass('hide')){
  $(this).addClass('hide');
  $(this).fadeIn();
}
});
}
});
});
</script>
{% endblock js%}
