{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
<menu data-target="ente" ></menu>
<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-header card-plain card-header-primary">
              <h4 class="card-title">Ente Federados</h4>
              <p class="card-category">Aderidos ao Sistema Nacional de Cultura</p>
          </div>
          <div class="card-body table-responsive">
              <table id="tabela-ente" class="datatable table table-hover">
                  <thead>
                      <tr>
                          <th>Análise</th>
                          <th>Município/Estado</th>
                          <th>Prefeito/Governador</th>
                          <th>RG</th>
                          <th>CPF</th>
                          <th>CNPJ</th>
                          <th>Situação</th>
                      </tr>
                  </thead>

              </table>
          </div>
        </div>
      </div>
</div>

{% endblock content %}
{% block js%}
<script type="text/javascript">
$(document).ready(function(){
  $('#tabela-ente').dataTable({
    order: [1, 'asc'],
    language:{
            "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
    columns: [
        {
          width: '5%',
          data: null,
          name: "id",
          orderable: false,
          render: function (data, type, row) {
            return `<center><a href="/gestao/ente/${data[7]}"><i class="fa fa-file"></i></a></center>`
          }
        },
        {
          data: null,
          name: "ente_federado",
          render: (data) => data[1]
        },
        {
          width: '25%',
          data: null,
          name: "gestor__nome",
          render: (data) => {
            if (data[9].length > 0){
              return `<a href="${data[9]}">${data[2]}</a>`
            }
            return data[2]
          }
        },
        {
          data: null,
          name: "gestor__rg",
          render: (data) => {
            if (data[10].length > 0){
              return `<a href="${data[10]}">${data[3]}</a>`
            }
            return data[3]
          }
        },
        {
          width: '15%',
          data: null,
          name: "gestor__cpf",
          render: function (data, type, row) {
            return data[4]
          },
          render: (data) => {
            if (data[11].length > 0){
              return `<a href="${data[11]}">${data[4]}</a>`
            }
            return data[4]
          }
        },
        {
          data: null,
          name: "sede__cnpj",
          render: (data) => data[5]
        },
        {
          data: null,
          name: "estado_processo",
          render: (data) => data[6]
        },
    ],
    searching: true,
    processing: true,
    serverSide: true,
    stateSave: true,
    ajax: {
      url: "{% url 'gestao:ajax_entes' %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      type: "POST",
    },
  });
});
</script>
{% endblock js %}