<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Nacional de Cultura</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        {% block menu %}
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Sistema Nacional de Cultura
            </a>
          </div>
          <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
            <li role="presentation" class="active"><a href="{% url 'adesao:logout' %}"><i class="icon-home"></i>Sair</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endblock menu %}
      </div>

      {% block content %}
      {% endblock content%}

      <footer class="footer">
        <script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>

        <script type="text/javascript">
          $(document).ready(function(){
            $("#add").click(function(){
              $("#telefone_2").fadeIn();
            });

            $("#add2").click(function(){
              $("#telefone_3").fadeIn();
            });
          });
        </script>
      </footer>
    </div>

</body>
