<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema Nacional de Cultura</title>

  {% load staticfiles %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom style -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Javascripts -->
  <script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.formatter.min.js' %}"></script>
</head>

<body>
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
      <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="header clearfix">
      <div>
        <img src="{% static 'images/logo_snc_small.png' %}" /> {% if user.is_authenticated %}
        <a class="btn btn-danger btn-xs" href="{% url 'adesao:logout' %}">
          <span class="glyphicon glyphicon-log-out"></span>Sair
        </a>
        {% endif %}
      </div>
    </div>

    {% block content %} {% endblock content%}

    <footer class="footer">
      {% block footer %}
      <address>
        <strong>SAI - Secretaria de Articulação Institucional</strong>
        <br> Edifício Parque Cidade Corporate – SCS, Quadra 09, Lote C, Torre B, 10º Andar
        <br> CEP: 70308-200 Brasília-DF
        <br>
        <abbr title="Phone"></abbr> (61) 2024-2325- acordosnc@cultura.gov.br
      </address>
      {% endblock footer %}

      <script type="text/javascript">
        $(document).ready(function() {
          $("#radio_municipio").click(function(){
            if(!$("#form_estado").hasClass('hide')) {
              $("#form_estado").addClass('hide');
              $("#form_estado").fadeOut();
            }
            $("#form_municipio").removeClass('hide');
            $("#form_municipio").fadeIn();
          });
          $("#radio_estado").click(function(){
            if(!$("#form_municipio").hasClass('hide')) {
              $("#form_municipio").addClass('hide');
              $("#form_municipio").fadeOut();
            }
            $("#form_estado").removeClass('hide');
            $("#form_estado").fadeIn();
          });

          $("#add").click(function() {
            $("#telefone_2").fadeIn();
          });

          $("#add2").click(function() {
            $("#telefone_3").fadeIn();
          });

          {% verbatim %}
          $("#id_cnpj_prefeitura").formatter({
            'pattern': '{{99}}.{{999}}.{{999}}/{{9999}}-{{99}}',
            'persistent': false,
          });
          $("#id_cpf_prefeito").formatter({
            'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
            'persistent': false,
          });
          $("#id_cpf_responsavel").formatter({
            'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
            'persistent' : false,
          });
          $("#id_cpf_secretario").formatter({
            'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
            'persistent': false,
          });
          $("#id_cep").formatter({
            'pattern': '{{99}}.{{999}}-{{999}}',
            'persistent': false,
          });
          $("#id_telefone_um").formatter({
            'pattern': '({{99}}){{99999}}-{{9999}}',
            'persistent' : false,
          });
          $("#id_telefone_dois").formatter({
            'pattern': '({{99}}){{99999}}-{{9999}}',
            'persistent': false,
          });
          $("#id_telefone_tres").formatter({
            'pattern': '({{99}}){{99999}}-{{9999}}',
            'persistent': false,
          });
          {% endverbatim %}
        });
      </script>

      <script src="//barra.brasil.gov.br/barra.js" defer></script>
    </footer>
  </div>
  <div id="footer-brasil"></div>
</body>
