{% extends "base.html" %} {% load widget_tweaks %} {% block content %}
<div align="center">
  {% if view.kwargs.tipo == 'responsavel' %}
    <h3>Cadastro do Responsável/Dirigente Cultural</h3>
    <p>Preencha o formulário abaixo com os dados do responsável pela elaboração do Plano de Trabalho.</p>
    {% if request.session.sistema_cultura_selecionado.secretario != None and request.session.sistema_cultura_selecionado.responsavel == None %}
      <p><a href="{% url 'adesao:importar_secretario' %}">Clique aqui caso o responsável e o interlocutor sejam a mesma pessoa</a></p>
    {% endif %}
  {% elif view.kwargs.tipo == 'secretario' %}
    <h3>Cadastro do Interlocutor/Cadastrador</h3>
    <p>Preencha o formulário abaixo com os dados do dirigente responsável pela área de cultura do município/estado.</p>
  {% endif %}
</div>

{% include "formulario_funcionario.html" %}

{% endblock content %}
