<table class="table table-striped table-bordered">
  <caption>Dados do Interlocutor</caption>
  <tr>
    <td>
      <strong>Nome</strong>
    </td>
    <td>{{ request.user.usuario.secretario.nome_secretario }}</td>
  </tr>
  <tr>
    <td>
      <strong>CPF</strong>
    </td>
    <td>{{ request.user.usuario.secretario.cpf_secretario }}</td>
  </tr>
  <tr>
    <td>
      <strong>Cargo</strong>
    </td>
    <td>{{ request.user.usuario.secretario.cargo_secretario }}</td>
  </tr>
  <tr>
    <td>
      <strong>Instituição</strong>
    </td>
    <td>{{ request.user.usuario.secretario.instituicao_secretario }}</td>
  </tr>
</table>
