{% extends "base.html" %} {% block content %}
<div class="content">
  <center>
    {% if request.user.usuario.municipio %}
    <a class="btn btn-success" href="{% url 'adesao:alterar_municipio' request.user.usuario.municipio.id %}">Alterar Dados do Município</a> {% else %}
    <a class="btn btn-primary" href="{% url 'adesao:municipio' %}">Cadastrar Município</a> {% endif %} {% if request.user.usuario.secretario %}
    <a class="btn btn-success" href="{% url 'adesao:alterar_secretario' request.user.usuario.secretario.id %}">Alterar Dados do Interlocutor</a> {% else %}
    <a class="btn btn-primary" href="{% url 'adesao:secretario' %}">Cadastrar Interlocutor</a> {% endif %} {% if request.user.usuario.responsavel %}
    <a class="btn btn-success" href="{% url 'adesao:alterar_responsavel' request.user.usuario.responsavel.id %}">Alterar Dados do Responsável</a> {% else %}
    <a class="btn btn-primary" href="{% url 'adesao:responsavel' %}">Cadastrar Responsável</a> {% endif %}
  </center>
  <p>
    <br>
    <strong>Acompanhamento de Solicitação de Integração ao SNC</strong>
  </p>
  {% if request.user.usuario.municipio %}
    {% include "dados_municipio.html" %}
    {% if request.user.usuario.secretario %}
      {% include "dados_secretario.html" %}
    {% endif %}
    {% if request.user.usuario.responsavel %}
      {% include "dados_responsavel.html" %}
    {% endif %}
  {% else %}
    Você ainda não possui solicitação. Clique
    no botão "Cadastrar Município" para dar início ao processo de integração ao SNC.
  {% endif %}
  <center>
    {% if request.user.usuario.estado_processo == '1' %}
    <a class="btn btn-warning" href="{% url 'adesao:minuta' %}">Imprimir Minuta</a>
    <a class="btn btn-warning" href="{% url 'adesao:solicitacao' %}">Imprimir Termo de Solicitação</a> {% endif %}
  </center>
</div>
{% endblock content %}
