{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">
  <p><img src="{% static 'images/logo_snc2.jpg' %}" alt="Sistema Nacional de Cultura"></p>
  {% if user.is_authenticated %}
    <a class="btn btn-lg btn-success" href="{% url 'adesao:home' %}" role="button">Acessar</a>
  {% else %}
    <a class="btn btn-lg btn-success" href="{% url 'adesao:login' %}" role="button">Acessar</a>
  {% endif %}
  <a class="btn btn-lg btn-warning" href="{% url 'adesao:usuario' %}" role="button">Novo Usuário</a>
</div>
{% endblock content %}
