{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="container">
    <div align="center">
      <h3>Cadastro do Interlocutor</h3>
      <p>Preencha o formulário abaixo com os dados do dirigente responsável pela área de cultura do município/estado.</p>
    </div>
  </div>
  <form class="form-horizontal" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="{{ form.rg_secretario.id_for_label }}" class="col-sm-3 control-label">RG</label>

      <div class="col-sm-4">
        {% render_field form.rg_secretario class="form-control "%}
        {{ form.rg_secretario.errors }}
      </div>

      <label for="{{ form.cpf_secretario.id_for_label }}" class="col-sm-1 control-label">CPF</label>

      <div class="col-sm-4">
        {% render_field form.cpf_secretario class="form-control cpf" %}
        {{ form.cpf_secretario.errors }}
      </div>

    </div>

    <div class="form-group">
      <label for="{{ form.orgao_expeditor_rg.id_for_label }}" class="col-sm-3 control-label">Órgão Expeditor</label>

      <div class="col-sm-2">
        {% render_field form.orgao_expeditor_rg class="form-control" %}
        {{ form.orgao_expeditor_rg.errors }}
      </div>

      <label for="{{ form.estado_expeditor.id_for_label }}" class="col-sm-3 control-label">Estado</label>

      <div class="col-sm-4">
        {% render_field form.estado_expeditor class="form-control" %}
        {{ form.estado_expeditor.errors }}
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.nome_secretario.id_for_label }}" class="col-sm-3 control-label">Nome</label>

      <div class="col-sm-9">
        {% render_field form.nome_secretario class="form-control" %}
        {{ form.nome_secretario.errors }}
      </div>

    </div>

    <div class="form-group">
      <label for="{{ form.cargo_secretario.id_for_label }}" class="col-sm-3 control-label">Cargo</label>

      <div class="col-sm-9">
        {% render_field form.cargo_secretario class="form-control" %}
        {{ form.cargo_secretario.errors }}
      </div>

    </div>

    <div class="form-group">
      <label for="{{ form.instituicao_secretario.id_for_label }}" class="col-sm-3 control-label">Instituição</label>

      <div class="col-sm-9">
        {% render_field form.instituicao_secretario class="form-control" %}
        {{ form.instituicao.secretario.errors }}
      </div>

    </div>

    <div class="form-group">
      <label for="{{ form.email_institucional_secretario.id_for_label }}" class="col-sm-3 control-label">E-mail Institucional</label>

      <div class="col-sm-9">
        {% render_field form.email_institucional_secretario class="form-control" %}
        {{ form.email_institucional_secretario.errors }}
      </div>

    </div>

    <div class="form-group">

      <label for="{{ form.telefone_um.id_for_label }}" class="col-sm-3 control-label">Telefone Institucional</label>

      <div class="col-sm-4">
        <div class="input-group input-group-sm">
          {% render_field form.telefone_um class="form-control telefone" %}
          <span class="input-group-btn">
            <button type="button" class="btn btn-default add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        {{ form.telefone_um.errors }}
      </div>

    </div>

    <div style="display:none;" class="form-group telefone2">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="input-group input-group-sm">
          {% render_field form.telefone_dois class="form-control telefone" %}
          <span class="input-group-btn">
            <button type="button" class="btn btn-default add2">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        {{ form.telefone_dois.errors }}
      </div>
    </div>

    <div style="display:none;" class="form-group telefone3">
      <div class="col-sm-offset-4 col-sm-4">
        {% render_field form.telefone_tres class="form-control telefone" %} {{ form.telefone_tres.errors }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <input type="submit" class="btn btn-default" value="Salvar" />
        <a class="btn btn-default" href="{% url 'adesao:home' %}">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
