{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %} {% load widget_tweaks %}
<div class="row">
	{{form.media}}
	<div class="col-md-12">
		<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Editar Ente</h4>
			<p class="card-category">{{object.ente_federado}}</p>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="row">
				<div class="col-md-4">
				<div class="form-group">
					<label>Nome do Gestor (Prefeito ou Governador)</label>
					{% render_field form_gestor.nome class="form-control" %}
				</div>
				</div>
				<div class="col-md-3">
				<div class="form-group">
					<label>CPF do Gestor (Prefeito ou Governador)</label>
					{% render_field form_gestor.cpf class="form-control cpf" %}
				</div>
				</div>
				<div class="col-md-3">
				<div class="form-group">
					<label>RG do Gestor (Prefeito ou Governador)</label>
					{% render_field form_gestor.rg class="form-control" %}
				</div>
				</div>
				<div class="col-md-1">
				<div class="form-group">
					<label>Órgão Expeditor</label>
					{% render_field form_gestor.orgao_expeditor_rg class="form-control" %}
				</div>
				</div>
				<div class="col-md-1">
				<div class="form-group">
					<label>UF</label>
					{% render_field form_gestor.estado_expeditor class="form-control" %}
				</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-5">
				<div class="form-group">
					<label>E-mail Institucional</label>
					{% render_field form_gestor.email_institucional class="form-control" %}
				</div>
				</div>
				<div class="col-md-3">
				<div class="form-group">
					<label>CNPJ do Ente Federado (Estado ou Município)</label>
					{% render_field form_sede.cnpj class="form-control cnpj" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>CEP</label>
					{% render_field form_sede.cep class="form-control cep" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>Complemento</label>
					{% render_field form_sede.complemento class="form-control" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>Bairro</label>
					{% render_field form_sede.bairro class="form-control" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>Endereço Eletrônico (Agenda Digital)</label>
					{% render_field form_sede.endereco_eletronico class="form-control" placeholder="http://www.exemplo.com.br" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>Telefone Institucional</label>
					{% render_field form_sede.telefone_um class="form-control telefone" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>Telefone Institucional</label>
					{% render_field form_sede.telefone_dois class="form-control telefone" %}
				</div>
				</div>
				<div class="col-md-4">
				<div class="form-group">
					<label>Telefone Institucional</label>
					{% render_field form_sede.telefone_tres class="form-control telefone" %}
				</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					<label>Endereço Institucional</label>
					<div class="form-group">
					{% render_field form_sede.endereco class="form-control" %}

					</div>
				</div>
				</div>
			</div>
			<div class="row">
					{% if form_gestor.termo_posse %}
					<div class="col-md-3">
						{{form_gestor.termo_posse}}
					</div>
					{% endif %}
					{% if form_gestor.rg_copia %}
					<div class="col-md-3">
						{{form_gestor.rg_copia }}
					</div>
					{% endif %}
					{% if form_gestor.cpf_copia %}
					<div class="col-md-3">
						{{form_gestor.cpf_copia}}
					</div>
					{% endif %}
				</div>
			<button type="submit" class="btn btn-primary pull-right">Salvar</button>
			<a class="btn btn-secondary pull-right" href="{% url 'gestao:acompanhar_adesao' %}">Cancelar</a>
			</form>
		</div>
		</div>
	</div>
</div>
<style>
	/* @TODO migrar para arquivo separado */
	.card-input-file .card-header + .card-footer {
		border-top: 1px solid #eee;
		margin-top: 20px;
	}

	.card-input-file .card-header.card-header-icon, .card-input-file .card-header.card-header-text {
		text-align: right;
	}
	.card-input-file .card-header .file-label-name:not([class*="text-"]) {
		color: #999999;
		font-size: 14px;
	}
	.card-input-file .card-header .card-icon + .file-name, .card-input-file .card-header .card-icon + .card-category {
		padding-top: 10px;
	}

	.card .upload-icon{
		border-radius: 3px;
		background-color: white;
		padding: 15px;
		margin-top: -20px;
		margin-right: 15px;
		float: left;
		border-style:dashed;
		border-color: #999999;
	}

	.upload-icon .material-icons{
		color: #999999;
	}


	.card .card-footer .stats {
		color: #999999;
		font-size: 12px;
		line-height: 22px;
	}
	.card .card-header.card-header-icon .file-name, .card .card-header.card-header-text .file-name{
		margin-top: 15px;
		color: #3C4858;
	}

	.card .upload-icon:hover{
		-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
		transform: scale(1.1);
		cursor: pointer;
	}

	input[type='file'] {
		display: none
	}
</style>

{% endblock content %}

{% block js%}
<script>

onDragEnter = function(event) {
    event.preventDefault();
},

onDragOver = function(event) {
    event.preventDefault();
},

onDragLeave = function(event) {
    event.preventDefault();
},

onDrop = function(event, a) {
	event.preventDefault();
	var inputId = $(event.target).data('target');
	var input = document.getElementById(inputId);
	var inputName = input.name
	var fileName = event.originalEvent.dataTransfer.files[0].name;
	var file = event.originalEvent.dataTransfer.files;

	$('#file-name-termo_posse').html(fileName);
	$(`#footer-${inputName}`).hide()

	input.files = event.originalEvent.dataTransfer.files;
};

$('input[type="file"]').each((key,element) => {
	$(`#${element.id}`).on("change", function(event){
		var inputName = event.target.name;
		var newFile = event.target.files[0];
		$(`#file-name-${inputName}`).html(newFile.name);
		$(`#footer-${inputName}`).hide();
	});

	$(`#drag-space-${element.name}`)
	.on("dragenter", onDragEnter)
	.on("dragover", onDragOver)
	.on("dragleave", onDragLeave)
	.on("drop", onDrop)
	.on("click", function(){
		$(`#${element.id}`).trigger('click');
	});
});

</script>
{% endblock js%}