<div class="modal fade" id="enteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cadastradorModalLabel">Alterar Dados do Ente Federado</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action={% url 'gestao:alterar_sistema' object.ente_federado.cod_ibge %}>
					{% csrf_token %}
					<div class="form-group">
						<label for="cpf" class="col-form-label">CPF do Gestor (Prefeito ou Governador)</label>
						<input id="cpf" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="rg" class="col-form-label">RG do Gestor (Prefeito ou Governador)</label>
						<input id="rg" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="orgao_expeditor" class="col-form-label">Órgão Expeditor</label>
						<input id="orgao_expeditor" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="estado_expeditor" class="col-form-label">UF</label>
						<input id="estado_expeditor" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="nome" class="col-form-label">Nome do Gestor (Prefeito ou Governador)</label>
						<input id="nome" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="email_institucional" class="col-form-label">E-mail Institucional</label>
						<input id="email_institucional" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="cnpj" class="col-form-label">CNPJ do Ente Federado (Estado ou Município)</label>
						<input id="cnpj" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="endereco" class="col-form-label">Endereço Institucional</label>
						<input id="endereco" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="complemento" class="col-form-label">Complemento</label>
						<input id="complemento" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="bairro" class="col-form-label">Bairro</label>
						<input id="bairro" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="cep" class="col-form-label">CEP</label>
						<input id="cep" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="endereco_eletronico" class="col-form-label">Endereço Eletrônico</label>
						<input id="endereco_eletronico" type="text" class="form-control">
				    </div>

				    <div class="form-group">
						<label for="telefone_um" class="col-form-label">Telefone Institucional</label>
						<input id="telefone_um" type="text" class="form-control">
				    </div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-primary">Alterar Dados</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
