{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Dados do Ente Federado
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-7">
                    <p><strong>Localização:</strong> {{ente.ente_federado}}</p>
                    <p><strong>CNPJ:</strong> {{ ente.sede.cnpj }}</p>
                    <p><strong>Prefeito:</strong>
                        {% if ente.gestor.termo_posse %}
                        <a href="{{ ente.gestor.termo_posse.url }}">{{ ente.gestor.nome }}</a>
                        {% else %}
                        {{ ente.gestor.nome }}
                        {% endif %}
                    </p>
                    <p><strong>CPF:</strong>
                        {% if ente.gestor.cpf %}
                        <a href="{{ ente.gestor.cpf.url }}">{{ ente.gestor.cpf }}</a>
                        {% else %}
                        {{ ente.gestor.cpf }}
                        {% endif %}
                    </p>
                    <p><strong>RG:</strong>
                         {% if ente.gestor.rg %}
                         <a href="{{ ente.gestor.rg.url }}">{{ ente.gestor.rg }}</a>
                         {% else %}
                         {{ ente.gestor.rg }}
                         {% endif %}
                    </p>
                    <p><strong>E-mail:</strong> {{ ente.gestor.email_institucional }}</p>

                </div>

                <div class="col-md-5">
                    <p><strong>Telefone:</strong> {{ ente.sede.telefone_um }}</p>
                    <p><strong>Endereço:</strong> {{ ente.sede.endereco }}</p>
                    <p><strong>Complemento:</strong> {{ ente.sede.complemento }}</p>
                    <p><strong>Bairro:</strong> {{ ente.sede.bairro }}</p>
                    {% if ente.processo_sei %}
                      <p>
                        <strong>Processo SEI:</strong> 
                          {% if ente.processo_sei %}
                            {{ente.processo_sei}}
                          {% endif %}
                      </p>
                    {% endif %}
                    {% if ente.data_publicacao_acordo %}
                      <p>
                        <strong>Publicação no DOU:</strong> 
                          {% if ente.link_publicacao_acordo %}
                            <a href="{{ ente.link_publicacao_acordo }}"> {{ente.data_publicacao_acordo|date:'d/m/Y'}}</a>
                          {% else %}
                            {{ente.data_publicacao_acordo|date:'d/m/Y'}} 
                          {% endif %}
                      </p>
                    {% endif %}
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
       <div class="panel panel-info">
          <div class="panel-heading">
            Dados do Interlocutor
          </div>
          <div class="panel-body">
            <p><strong>Nome:</strong> {{ ente.secretario.nome }}</p>
            <p><strong>CPF:</strong> {{ ente.secretario.cpf }}</p>
            <p><strong>RG:</strong> {{ ente.secretario.rg }}</p>
            <p><strong>Cargo:</strong> {{ ente.secretario.cargo }}</p>
            <p><strong>Instituição:</strong> {{ ente.secretario.instituicao }}</p>
            <p><strong>E-mail:</strong> {{ ente.secretario.email_institucional }}</p>
            <p><strong>Telefone:</strong> {{ ente.secretario.telefone_um }}</p>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Dados do Responsável Indicado
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                    <p><strong>Nome:</strong> {{ ente.responsavel.nome }}</p>
                    <p><strong>CPF:</strong> {{ ente.responsavel.cpf }}</p>
                    <p><strong>RG:</strong> {{ ente.responsavel.rg }}</p>
                    <p><strong>Cargo:</strong> {{ ente.responsavel.cargo }}</p>

                  </div>
                  <div class="col-md-6">

                    <p><strong>Instituição:</strong> {{ ente.responsavel.instituicaol }}</p>
                    <p><strong>E-mail:</strong> {{ ente.responsavel.email_institucional }}</p>
                    <p><strong>Telefone:</strong> {{ ente.responsavel.telefone_um }}</p>
                  </div>

              </div>
          </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Dados do Cadastrador
          </div>
          <div class="panel-body">
            <p><strong>CPF:</strong> {{ ente.cadastrador.user.username }}</p>
            <p><strong>Nome:</strong> {{ ente.cadastrador.nome_usuario }}</p>
            <p><strong>E-mail:</strong> {{ ente.cadastrador.user.email }}</p>
            <p><strong>Data de cadastro:</strong> {{ ente.cadastrador.data_cadastro }}</p>
          </div>
        </div>
    </div>
</div>

{% if ente.estado_processo == '6' %}
<div class="panel panel-info">
  <div class="panel-heading">
    Dados do Plano de Trabalho
  </div>

  <div class="panel-body">
  {% if ente.legislacao.arquivo %}
    <div class="list-group row">
        <div class="col-md-12">
            <div  class="list-group-item col-xs-8">
                Criação do Sistema - Lei
            </div>

            <div class="list-group-item col-xs-2 text-center">
              <a href="{{ ente.legislacao.arquivo.url}}">Download</a>
            </div>
            {% if ente.legislacao.situacao == 1 %}

              <div class="list-group-item col-xs-2 text-center ">
                <a href="{% url 'gestao:diligencia_componente' pk=ente.id componente='legislacao' %}">Criar Diligência</a>
              </div>
            {% else %}
            <div class="list-group-item col-xs-2 text-center">
                <b>{{ ente.legislacao.get_situacao_display }}</b>
            </div>
        {% endif %}

        </div>
    </div>
  {% endif %}

    {% if ente.orgao_gestor.arquivo %}
    <div class="list-group row">
      <div class="col-md-12">
          <div  class="list-group-item col-xs-8">
            Órgão Gestor - Ato normativo
          </div>

          <div class="list-group-item col-xs-2 text-center">
            <a href="{{ ente.orgao_gestor.arquivo.url }}">Download</a>
          </div>
          {% if ente.orgao_gestor.situacao == 1 %}

          <div class="list-group-item col-xs-2 text-center">
              <a href="{% url 'gestao:diligencia_componente' pk=ente.id componente='orgao_gestor' %}">Criar Diligência</a>
          </div>
          {% else %}
          <div class="list-group-item col-xs-2 text-center">
              <b>{{ ente.orgao_gestor.get_situacao_display }}</b>
          </div>
          {% endif %}

      </div>
    </div>
    {% endif %}

    {% if ente.conselho.arquivo %}
    <div class="list-group row">
      <div class="col-md-12">
          <div  class="list-group-item col-xs-8">
            Conselho Cultural - Ata
          </div>

          <div class="list-group-item col-xs-2 text-center">
            <a href="{{ ente.conselho.arquivo.url }}">Download</a>
          </div>
          {% if ente.conselho.situacao == 1 %}
            <div class="list-group-item col-xs-2 text-center">
                <a href="{% url 'gestao:diligencia_componente' pk=ente.id componente='conselho' %}">Criar Diligência</a>
            </div>
          {% else %}
          <div class="list-group-item col-xs-2 text-center">
              <b>{{ ente.conselho.get_situacao_display }}</b>
          </div>
          {% endif %}

      </div>
    </div>
    {% endif %}

    {% if ente.fundo_cultura.arquivo %}
    <div class="list-group row">
       <div class="col-md-12">
          <div  class="list-group-item col-xs-8">
            Fundo de Cultura - Lei {% if ente.fundo_cultura.cnpj_fundo_cultura %} (CNPJ: {{ente.fundo_cultura.cnpj_fundo_cultura}}) {% endif %}
          </div>

          <div class="list-group-item col-xs-2 text-center">
            <a href="{{ ente.fundo_cultura.arquivo.url }}">Download</a>
          </div>
          {% if ente.fundo_cultura.situacao == 1 %}
            <div class="list-group-item col-xs-2 text-center">
                <a href="{% url 'gestao:diligencia_componente' pk=ente.id componente='fundo_cultura' %}">Criar Diligência</a>
            </div>
          {% else %}
          <div class="list-group-item col-xs-2 text-center">
              <b>{{ ente.fundo_cultura.get_situacao_display }}</b>
          </div>
          {% endif %}

       </div>
    </div>
    {% endif %}



    {% if ente.plano.arquivo %}
    <div class="list-group row">
        <div class="col-md-12">
          <div  class="list-group-item col-xs-8">
            Plano de Cultura - Lei
          </div>

          <div class="list-group-item col-xs-2 text-center">
            <a href="{{ ente.plano_cultura.arquivo.url}}">Download</a>
          </div>
          {% if ente.plano.situacao == 1 %}

          <div class="list-group-item col-xs-2 text-center">
              <a href="{% url 'gestao:diligencia_componente' pk=ente.id componente='plano' %}">Criar Diligência</a>
          </div>
          {% else %}
          <div class="list-group-item col-xs-2 text-center">
              <b>{{ ente.plano.get_situacao_display }}</b>
          </div>
          {% endif %}


      </div>
    </div>
    {% endif %}

<!-- situaçao geral do plano de trabalho -->

    <div class="list-group row">
          <div class="col-md-12">
            <div class="list-group-item col-xs-8">
              <b>Situação Geral do Plano de Trabalho</b>
            </div>
                <div class="list-group-item col-xs-4 text-center">
                    <a href="{% url 'gestao:diligencia_geral_adicionar' pk=ente.id %}">Criar Diligência</a>
                </div>
          </div>
        </div>
    </div>
    
</div>
{% endif %}

<div class="row">
    {% if historico_sistemas %}
      <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              Histórico de cadastradores
            </div>
            <div class="panel-body">
              {% for sistema in historico_sistemas %}
                <ul class="list-group">            
                    {% if sistema.cadastrador.nome_usuario %}
                      <li class="list-group-item">
                         <b>Usuário:</b> {{sistema.cadastrador.nome_usuario}}
                      </li>
                    {% endif %}

                    {% if sistema.cadastrador.user.email %}
                      <li class="list-group-item">
                         <b>E-mail:</b> {{sistema.cadastrador.user.email}}
                      </li>
                    {% endif %}         
                </ul>
              {% endfor %}
            </div>
          </div>
      </div>
    {% endif %}

    <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Dados da Adesão
          </div>
          <form name="form" id="detalhe_municipio_form" action="{% url 'gestao:alterar_dados_adesao' ente.ente_federado.cod_ibge %}" method="post">
              <div class="panel-body ">
                  {% csrf_token %}
                  <div class="list-group-item col-md-12 text-center">
                      <div class="form-group">
                          <select id="select_situacoes" name="estado_processo" class="form-control">
                            <option value="1" {% if ente.estado_processo == '0' %}selected{% endif %}>Aguardando preenchimento dos dados cadastrais</option>
                              <option value="1" {% if ente.estado_processo == '1' %}selected{% endif %}>Aguardando envio da documentação</option>
                              <option value="2" {% if ente.estado_processo == '2' %}selected{% endif %}>Documentação Recebida - Aguarda Análise</option>
                              <option value="3" {% if ente.estado_processo == '3' %}selected{% endif %}>Diligência Documental</option>
                              <option value="4" {% if ente.estado_processo == '4' %}selected{% endif %}>Encaminhado para assinatura do Secretário SAI</option>
                              <option value="5" {% if ente.estado_processo == '5' %}selected{% endif %}>Aguarda Publicação no DOU</option>
                              <option value="6" {% if ente.estado_processo == '6' %}selected{% endif %}>Publicado no DOU</option>
                            </select>
                      </div>

                      <div class="form-group">
                        <textarea id="justificativa_situacao" name="justificativa" class="form-control hide" style="resize:none" placeholder="Justificativa" rows="4" cols="20">{% if ente.estado_processo == '3' %} {{ ente.justificativa }} {% endif %}</textarea>
                        <input type="text" id="data_acordo_situacao" name="data_publicacao_acordo" class="form-control date hide" value="{% if ente.data_publicacao_acordo %} {{ente.data_publicacao_acordo}} {% endif %}" placeholder="Data de Publicação"></input>
                        <input type="text" id="localizacao_situacao" name="localizacao" class="form-control hide" placeholder="Localização" value="{% if ente.estado_processo == '2' %} {{ente.localizacao}} {% endif %}"></input>
                      </div>

                      <div class="form-group">
                         <input type="text" id="link_acordo_situacao" name="link_publicacao_acordo" class="form-control hide" placeholder="Link da Publicação" value="{% if ente.link_publicacao_acordo %} {{ ente.link_publicacao_acordo }} {% endif %}"></input>
                      </div>

                      <div class="form-group">
                        <input type="text" id="processo_sei" name="processo_sei" class="form-control" placeholder="Número do Processo SEI" value="{% if ente.processo_sei %} {{ente.processo_sei}} {% endif %}"></input>
                      </div>


                      <div class="row">
                          <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-xs" title="Alterar Situação" >Salvar</button>
                            <a href="{% url 'gestao:detalhar' ente.ente_federado.cod_ibge %}" class="btn btn-default btn-xs" value="Cancelar" >Cancelar</a>
                          </div>
                      </div>
                      
              
                      <script>
                        $(document).ready(function(){
                          
                          $("#detalhe_municipio_formn").submit(function (event) {
                            event.preventDefault();
                            $("#myModal").modal({backdrop: 'static', keyboard: false})
                            $("#myModal").modal('show');
                          });
                        });
                      </script>
                    
              
              
              
                        <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog">
              
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title ">Sucesso</h4>
                              </div>
                              <div class="modal-body">
                                <p>Alteração concluida com sucesso.</p>
                              </div>
                              <div class="modal-footer">
                                <button id="go" onclick="submit()" type="submit" class="btn btn-primary">OK</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          </form>
        </div>
    </div>

    {% include "cadastrador.html" %}

</div>

{% endblock content %}

{% block js%}
<script type="text/javascript">
  $(document).ready(function(){

    var situacao_campos = function(e){


      if($('#select_situacoes').val()==="2"){
        $("input[id$='_situacao'], textarea[id$='_situacao']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#localizacao_situacao").hasClass('hide')){
          $("#localizacao_situacao").removeClass('hide');
          $("#localizacao_situacao").fadeIn();
        }
      }
      else if($('#select_situacoes').val()==="3"){
        $("input[id$='_situacao'], textarea[id$='_situacao']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#justificativa_situacao").hasClass('hide')){
          $("#justificativa_situacao").removeClass('hide');
          $("#justificativa_situacao").fadeIn();
        }
      }
      else if($('#select_situacoes').val()==="4"){
        $("input[id$='_situacao'], textarea[id$='_situacao']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#num_processo_situacao").hasClass('hide')){
          $("#num_processo_situacao").removeClass('hide');
          $("#num_processo_situacao").fadeIn();
        }
      }
      else if($('#select_situacoes').val()==="6"){
        $("input[id$='_situacao'], textarea[id$='_situacao']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
        if($("#data_acordo_situacao").hasClass('hide')){
          $("#data_acordo_situacao").removeClass('hide');
          $("#data_acordo_situacao").fadeIn();
        }
        if($("#link_acordo_situacao").hasClass('hide')){
          $("#link_acordo_situacao").removeClass('hide');
          $("#link_acordo_situacao").fadeIn();
        }
      }
      else {
        $("input[id$='_situacao'], textarea[id$='_situacao']").each(function(){
          if(!$(this).hasClass('hide')){
            $(this).addClass('hide');
            $(this).fadeIn();
          }
        });
      }
    }
    $('#select_situacoes').change(situacao_campos).ready(situacao_campos);


});

  $("#thumbs").click(function() {
  $("#criacaosistema").modal('show');
});

  $("#thumbs").click(function() {
  $("#orgaogestorr").modal('show');
});

  $("#thumbs").click(function() {
  $("#conselhocultural").modal('show');
});

  $("#thumbs").click(function() {
  $("#fundocultura").modal('show');
});

  $("#thumbs").click(function() {
  $("#planocultura").modal('show');
});
</script>
{% endblock js%}
