{% extends "base.html" %} {% load widget_tweaks %} {% block content %}
<div class="container">
  <p>Caso tenha esquecido sua senha, insira seu e-mail cadastrado no campo abaixo para receber novas instruções.</p>
  <form class="form-horizontal" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}" class="col-sm-3 control-label"> E-mail</label>

      <div class="col-sm-9">
        {% render_field form.email class="form-control" %} {{ form.email.errors }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <input type="submit" class="btn btn-success" value="Enviar" />
      </div>
    </div>
</div>
{% endblock content %}
