{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
{% if validlink %}
  <form class="form-horizontal" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}" class="col-sm-3 control-label">Nova senha:</label>

      <div class="col-sm-6">
        {% render_field form.new_password1 class="form-control" %}
        {{ form.new_password1.errors }}
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}" class="col-sm-3 control-label">Confirme a senha:</label>

      <div class="col-sm-6">
        {% render_field form.new_password2 class="form-control" %}
        {{ form.new_password2.errors }}
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" class="btn btn-default" value="Confirmar" />
      </div>
    </div>
  </form>
{% else %}
      <h2>Erro na recuperação de senha</h2>
      <p>
        O link para recuperação de senha era inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha.
      </p>
    {% endif %}
    </div>
</div>
{% endblock content%}
