body {
    /* padding-bottom: 875px; */
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #52B485 0%, #025A7B 100%);}

#footer {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    background: #004D6E;
    position:absolute; 

}

html{ height:100%; }


#footer{ 
  bottom:0; 
  width:100%; 
  height:100px; 
}

.form-control {
    font-size: 16px;
    color: #ffffff !important;
}

.form-control, .btn {
    border-radius: 50px;
    outline: none !important;
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255, 255, 255);
}

.form-group#esqueci-senha,
.form-group#nao-cadastro,
a{
    text-align: center;
    text-decoration: underline;
    color: #C4E053;
}

.form-group#esqueci-senha{
    margin-top: 65px;
}

.round-input {
    border-radius: 50px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}

.fa.input-icon{
    top: 27px;
    position: relative;
    left: 88%;
    color: #ffff !important;
}

#acesso-a-informacao{
    left: 10%;
    top: 25%;
    position: relative;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1 !important; /* Firefox */
    
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff !important;
}
 
::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff !important;
}

.login-input {
    box-sizing: border-box;
    background: transparent !important;
    border: 1px solid #ffffff;
    font-size: 17.7426px;
    border-radius: 19.5px;
}

.login-btn {
    display: block;
    width: 100%;
    background: #00587a;
    opacity: 0.7;
    text-transform: uppercase;
    color: #FFFFFF;

}

.login-btn:focus {
    border-color: #2a5972 ;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgb(76, 124, 163);
    opacity: 1.7 ;
}

.round-button {
    border-radius: 50px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.title {
    display: table;
}

.big-title {
    text-transform: uppercase;
    color: #FFFFFF;
    top: 105%;
    left: 9%;
    margin-top: -10em;
    position: absolute;
    font-size: 55px;    
}

.small-title {
    text-transform: uppercase;
    color: #FFFFFF;
    right: 30%;
    padding: 0px 130px 0px 50px;
    top: 24.7%;
    left: 90%;
    width: 21em;
    margin-top: -5em;
    margin-left: -13em;
    position: absolute;
}

.login-form form {
    border-radius: 6px;
    right: 30%;
    padding: 90px 50px 200px 50px;
    position: fixed;
    top: 40%;
    left: 50%;
    bottom: 20%;
    width: 21em;
    margin-top: -10em;
    margin-left: -13em;
    background: radial-gradient(262.50px at 50% 50%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(141, 225, 71, 0.7) 0%, rgba(42, 179, 180, 0.7) 47.03%, rgba(0, 77, 110, 0.7) 100%), url(/static/img/teste2.png), #082C48;
    box-shadow: 2px 3px 7px rgb(37, 27, 27)
}

.login-form .btn {       
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.social-btn .btn {
    color: #fff;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 50px;
    text-indent: 10px;
    font-weight: normal;
    border: none;
    text-align: center;		
}
.social-btn .btn:hover {
    opacity: 0.9;
}

.wrap {
    margin-top: 90px;
}

input {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

@media all and (min-width:768px) and (max-width: 1024px) {
    .login-form form {     
        left: 56%;
    }
}

@media all and (min-width:471px) and (max-width: 731px) {
    .login-form form {     
        top: 32%;
        left: 60%;
    }
}

@media all and (min-width:360px) and (max-width: 470px) {
    .login-form form {     
        top: 32%;
        left: 60%;
    }
}


.tewt {
    background: linear-gradient(
        269.76deg,
        rgba(0, 88, 122, 0.7) 0.57%, 
        rgba(83, 181, 133, 0.7) 99.85%
        ),
        radial-gradient(
            720.00px at 50% 50%,
            rgba(255, 255, 255, 0.19) 0%,
            rgba(255, 255, 255, 0)
            100%
            ), 
        #082C48;
}