/* ==========================================================================
   Cabeçalho do portal
   ========================================================================== */

#header {
    padding: 14px 0 0 0;
    background-color: #1659bf;
    color: #fff;
}

/* Menu de Acessibilidade
   ========================================================================== */

#accessibility a {
    color: #dcecff;
}

#accessibility span {
    background: url("../img/bg-acess-key.gif") center center no-repeat;
    color: #0a1857;
}

/* Titulo do portal
   ========================================================================== */

#portal-logo,
#portal-title { color: #fff !important; }

/* Menu site actions - Acessibilidade, Alto Contraste, Mapa do site
   ========================================================================== */

#portal-siteactions,
#portal-language { border-bottom: 1px dotted #6893cb; }

#portal-siteactions a,
#portal-siteactions a:hover,
#portal-language a,
#portal-language a:hover { color: #dcecff !important; }

/* Menu sobre o portal
   ========================================================================== */

#sobre { background: #0f4098; }

#sobre a { color: #fff; }

#sobre .portalservicos-item a { border-right: 1px solid #87a0cc; }

/* Formulário de busca
   ========================================================================== */

#portal-searchbox { border: 1px solid #CCCCCC; }

/* ==========================================================================
   Sprinte Icons
   ========================================================================== */

/* icones de redes sociais */
#social-icons a,
/* central de conteudo */
.item-central .link-videos,
.item-central .link-audios,
.item-central .link-infograficos,
.item-central .link-publicacoes,
.item-central .link-fotos,
.item-central .link-aplicativos,
.item-central .link-dadosabertos,
/* icone do botão de busca */
#header input.searchButton { background-image: url("../img/sprite.png"); }
/* icone do botão de relatar erros */
#content .relatar-erros a { background: url("../img/icon-reportar-erros.png") no-repeat; }

/* Summary view */
#content .summary-view-icon [class*="icon"] {
    background-image: url("../img/summary-view-icons-sprite.png");
}


#apDiv1 {
	position: absolute;
	left: 617px;
	top: 15px;
	width: 342px;
	height: 213px;
	z-index: 1;
}


#accessibility a {
    color: #fff;
}

/* ==========================================================================
   Portles
   ========================================================================== */

/* Portlet de navegação
   ========================================================================== */

#portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
#portal-column-one > .nav-menu-de-relevancia .first-item-nav a span {
    color: #2c66ce !important;
}

.portlet-static-contents-central .portletHeader,
.portlet-static-resource-center .portletHeader,
.portlet-static-centrales-del-contenido .portletHeader,
.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
    border-top: 4px solid #1659bf;
    color: #1659bf;
}

.portletNavigationTree .portletHeader a { color: #1659bf !important; }

.navTreeLevel0 > li.navTreeItemInPath,
.navTreeLevel0 > li.navTreeCurrentNode {
    border-top: 2px solid #1659bf !important;
    border-bottom: 2px solid #1659bf !important;
}


/* ==========================================================================
   Collective Cover
   ========================================================================== */

/* Tile Banner Rotativo
   ========================================================================== */

/* Cores dos botões */

#tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
    border-right: 1px solid #254e8c;
    background-color: #1659bf;
}

#tile_banner_rotativo .activeSlide .button-nav,
#tile_banner_rotativo li .button-nav:hover,
#tile_banner_rotativo li .button-nav:focus {
    background-color: #edeff1;
}

/* ícone do botão */

#content  #tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
    background-image: url("../img/bullet-banner-rotativo.gif");
}

/* Tiles
   ========================================================================== */

.tile a { color: #162937 !important; }


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    background: #1659bf;
    color: #fff;
}

#footer a { color: #fff; }

#wrapper #footer .footer-logos { background: #0042b1; }

/* Doormat
   ========================================================================== */

#doormat-container { background: #1659bf; }

#doormat-container dl { border-left: 1px dotted #fff; }

#doormat-container dt { color: #fff; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Smartphone
   ========================================================================== */

@media only screen and (min-width : 320px) and (max-width : 768px) {

    .menuTrigger {
        background: #0e4097 url("../img/bg-menu-mobile.png") top right no-repeat;
    }

    .portlet-static-contents-central .portletHeader,
    .portlet-static-resource-center .portletHeader,
    .portlet-static-centrales-del-contenido .portletHeader,
    .portlet-static-centrais-de-conteudos .portletHeader,
    .portletNavigationTree .portletHeader {
        background: #edeff1 url("../img/portlet-header.gif") no-repeat 96% center;
    }

    .portletNavigationTree .portletHeader.ativo {
        background: url("../img/portlet-header-expanded.gif") no-repeat 96% center;
    }

}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  #header #portal-searchbox .searchButton {
    background: url("../img/search-button-30px.png") no-repeat;
  }
}



/* ==========================================================================
   Comentários
   ========================================================================== */

#viewlet-below-content .discussion {
  border-top: 4px solid #000000;
  padding-top: 20px;
  margin-top: 15px;
}

#viewlet-below-content .comment a {
  color: #345179;
}

#viewlet-below-content .comment .documentByLine {
  color: #345179;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 10px;
}

.replyTreeLevel0 {
    background: #eeeff1;
    padding: 15px 0px 10px;
    clear: both;
}

.replyTreeLevel1 {
    border-left: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    clear: both;
}

.replyTreeLevel2 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 20px;
    clear: both;
}

.replyTreeLevel3 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 40px;
    clear: both;
}

.replyTreeLevel4 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 60px;
    clear: both;
}

.replyTreeLevel5 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 80px;
    clear: both;
}

.replyTreeLevel6 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 100px;
    clear: both;
}

.replyTreeLevel7 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 120px;
    clear: both;
}

.replyTreeLevel8 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 140px;
    clear: both;
}

.replyTreeLevel9 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 160px;
    clear: both;
}

.replyTreeLevel10 {
    border-left: 1px solid #eeeff1;
    border-top: 1px solid #eeeff1;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-left: 180px;
    clear: both;
}

#viewlet-below-content .comment .documentByLine .commentDate {
  font-size: 1.0em;
  color: #172a38;
  font-weight: normal;
  padding-top: 0;
}

.commentBody {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    overflow: visible;
}

button.context.reply-to-comment-button {
    margin-left: 20px;
}

.commentActions {
    float: left;
    margin-left: 10px;
}

.commentBody p {
    font-size: 1.2em;
    color: #172a38;
    padding: 0 10px 10px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    float: none;
}

.row #commenting textarea,
.row .discussion textarea {
    font: 1.2em "open_sansregular", Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid #eeeff1;
}

#commenting p {
    font-size: 1.2em;
}

.row #commenting label, .row .discussion label {
    font-size: 1.1em;
}

.discussion .reply {
    clear: both;
    color: #000000;
    padding-top: 5px;
}


input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

input[type="password"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="password"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
ul.input-list li {
  display: block;
  padding: 0 10px;
  width: 50%;
  float: left;
}

@media all and (max-width: 800px) {
  ul.input-list {
    margin: 0;
  }
  ul.input-list li {
    padding: 0;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* ============================================================
  STYLE 2
============================================================ */
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 3
============================================================ */
.style-3 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 0 1px #707070;
  -moz-box-shadow: inset 0 0 0 1px #707070;
  box-shadow: inset 0 0 0 1px #707070;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-3 input[type="text"]:focus, .style-3 input[type="text"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 4
============================================================ */
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

/* ============================================================
  STYLE 5
============================================================ */
.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0 #707070;
  -moz-box-shadow: inset 1px 1px 2px 0 #707070;
  box-shadow: inset 1px 1px 2px 0 #707070;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus, .style-5 input[type="text"].focus {
  -webkit-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -moz-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

#footer .btn {
  background:#282828;
  text-shadow:none;
  border-radius:2px;
  -webkit-box-shadow:rgba(255, 255, 255, 00) 0 0 0 inset, rgba(0, 0, 0, 00) 0 0 0;
  background-image:-webkit-linear-gradient(top, #282828, #282828);
  margin-top:10px;
}

#footer .btn:hover {
  background:#365eab;
}

#footer .btn i {
  margin-left:12px;
  margin-right:0px;
}

.button {
  display: block;
  width: 100px;
  height: 15px;
  background: #67AB54;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  
  
}

.button_usuario {
  display: block;
  width: 100px;
  height: 15px;
  background: #58B8B4;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #FFF;
  font-weight: normal;
}


