{% extends "base.html" %} {% load gestao_tags %}
{% block menu %}
{% if not request.user.is_authenticated %}
<div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
  <dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
      <span class="portletTopLeft"></span>
      <a href="#" class="tile ui-droppable">Consultas</a>
      <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem lastItem">
      <ul class="navTree navTreeLevel0">
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'adesao:consultar' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>Municípios</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'adesao:consultar_estados' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>Estados</span>
          </a>
        </li>
      </ul>
      <span class="portletBottomLeft"></span>
      <span class="portletBottomRight"></span>
    </dd>
  </dl>
</div>
<div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
  <dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
      <span class="portletTopLeft"></span>
      <a href="#" class="tile ui-droppable">Exportar Dados</a>
      <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem lastItem">
      <ul class="navTree navTreeLevel0">
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_csv' %}" id="csv" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>em CSV</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_xls' %}" id="xls" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>em XLS</span>
          </a>
        </li>
      </ul>
      <span class="portletBottomLeft"></span>
      <span class="portletBottomRight"></span>
    </dd>
  </dl>
</div>
{% endif %}
{% endblock menu %}
{% block content %}
<form class="form-horizontal" method="get">
  <button type="submit" class="btn btn-info" style="float:right;">Buscar</button>
  <div style="overflow: hidden;">
    <input name="municipio" type="search" class="form-control" placeholder="Município" />
  </div>
</form>

<h1>Municípios</h1>
<ul>
  {% for municipio in object_list %}
  <li>
    <a href="{% url 'adesao:detalhar' municipio.id %}">{{ municipio.municipio.cidade.nome_municipio }} - {{ municipio.municipio.estado.nome_uf }}</a>
  </li>
  {% empty %}
  <li>
    Nenhum município encontrado.
  </li>
  {% endfor %}
</ul>
<div style="float:right;">
  {% if page_obj.has_previous %}
    <a class="paginate_button previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
  {% endif %}
    <a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
  {% if page_obj.has_next %}
    <a class="paginate_button next" href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
  {% endif %}
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#csv").click(function() {
    $('#overlay').show();
  });
  $("#xls").click(function() {
    $('#overlay').show();
  });
});
</script>
{% endblock content %}
