{% extends "base.html" %} {% load gestao_tags %}
{% block menu %}
<div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
  <dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
      <span class="portletTopLeft"></span>
      <a href="#" class="tile ui-droppable">Consultas</a>
      <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem lastItem">
      <ul class="navTree navTreeLevel0">
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'adesao:consultar' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>Municípios</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'adesao:consultar_estados' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>Estados</span>
          </a>
        </li>
      </ul>
      <span class="portletBottomLeft"></span>
      <span class="portletBottomRight"></span>
    </dd>
  </dl>
</div>
<div class="portletWrapper" id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265" data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706f7274616c0a736f627265">
  <dl class="portlet portletNavigationTree">
    <dt class="portletHeader">
      <span class="portletTopLeft"></span>
      <a href="#" class="tile ui-droppable">Exportar Dados</a>
      <span class="portletTopRight"></span>
    </dt>
    <dd class="portletItem lastItem">
      <ul class="navTree navTreeLevel0">
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_csv' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>CSV</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_ods' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>ODS</span>
          </a>
        </li>
        <li class="navTreeItem visualNoMarker navTreeFolderish section-sobre-a">
          <a href="{% url 'exportar_xls' %}" title="" class="state-published navTreeFolderish contenttype-folder">
            <span>XLS</span>
          </a>
        </li>
      </ul>
      <span class="portletBottomLeft"></span>
      <span class="portletBottomRight"></span>
    </dd>
  </dl>
</div>
{% endblock menu %}
{% block content %}
<form class="form-inline" method="get">
  <div>
    <button type="submit" class="btn btn-info" style="float:right;">Buscar</button>
    <div style="overflow: hidden;">
        <input name="estado" type="search" class="form-control" placeholder="Nome ou sigla da UF" />
    </div>
  </div>
  <a id="busca-avancada" href="#">Mais opções...</a>
  <div class="form-group hidden" id="filtros">
      <div class="checkbox">
        <label><input type="checkbox" name="sistema">Sistema</label>
        <label><input type="checkbox" name="orgao">Órgão Gestor</label>
        <label><input type="checkbox" name="conselho">Conselho</label>
        <label><input type="checkbox" name="fundo">Fundo</label>
        <label><input type="checkbox" name="plano">Plano</label>
      </div>
  </div>
</form>

<h1>Estados</h1>
<ul>
  {% for municipio in object_list %}
  <li>
    <a href="{% url 'adesao:detalhar' municipio.id %}">{{ municipio.estado.nome_uf }}</a>
  </li>
  {% empty %}
  <li>
    Nenhum estado encontrado.
  </li>
  {% endfor %}
</ul>
{% endblock content %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $("#busca-avancada").click(function() {
      $("#filtros").fadeIn();
      $("#busca-avancada").fadeOut();
    });
});
</script>
{% endblock js %}
