{% extends 'gestao/base_gestao.html' %}
{% block content %}
	<h2>Informações sobre o Arquivo Enviado</h2>
	<p>{{ ente_federado }}</p>
	<p>{{ nome_arquivo }}</p>
	<p>{{ data_envio }}</p>

	<div id="campo_texto">
		<form method="POST">
			<input name="texto_diligencia" />
			<select name="classificacao_arquivo">
				{% for classificacao in classificacoes %}
					<option value="{{ classificacao.value }}">{{ classificacao.description }}</option>
				{% endfor %}
			</select>
			{% csrf_token %}
		</form>
	</div>

	

	<div class="historico_diligencias">
		{% for diligencia in historico_diligencias %}
			<div>Usuário: {{ diligencia.nome_usuario }}, Motivo: {{ diligencia.motivo }}, Data: {{ diligencia.data }}, Resumo: {{ diligencia.resumo }}</div>
		{% endfor %}
	</div>

	<button class='btn btn-primary'>Enviar</button>
	<button class='btn btn-secondary'>Cancelar</button>
{% endblock %}
