{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="container">
    <div align="center">
      <h3>Novo usuário</h3>
      <p>Preencha o formulário abaixo com os seus dados.</p>
    </div>
  </div>
  <form class="form-horizontal" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="{{ form.user.username.id_for_label }}" class="col-sm-3 control-label">CPF</label>

      <div class="col-sm-4">
        {% render_field form.user.username class="form-control" %}
        {{ form.user.username.errors }}
      </div>

    </div>

    <div class="form-group">
      <label for="{{ form.nome_prefeito.id_for_label }}" class="col-sm-3 control-label">Nome</label>

      <div class="col-sm-9">
        {% render_field form.nome_usuario class="form-control" %}
        {{ form.nome_usuario.errors }}
      </div>

    </div>

    <div class="form-group">
      <label for="{{ form.email_usuario.id_for_label }}" class="col-sm-3 control-label">E-mail</label>

      <div class="col-sm-9">
        {% render_field form.email_usuario class="form-control" %}
        {{ form.email_usuario.errors }}
      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <input type="submit" class="btn btn-default" value="Cadastrar" />
        <a class="btn btn-default" href="{% url 'adesao:index' %}">Voltar</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
