{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Inserir lei do fundo de cultura no cadastro
  </div>
  <div class="panel-body">
    <form class="form-horizontal" method="post" enctype=multipart/form-data>{% csrf_token %}
      <div class="form-group {% if form.arquivo.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label">Anexo</label>

        <div class="col-sm-7">
          {% render_field form.arquivo %}
        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <span class="help-block">{{ form.arquivo.errors}}</span>
        </div>
      </div>
      <div class="form-group {% if form.data_publicacao.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label">Data de publicação da Lei</label>

        <div class="col-sm-7">
          <span class="help-block">{% render_field form.data_publicacao class="date" %}</span>
        </div>
        <div class="col-sm-offset-3 col-sm-9 has-error">
            <span class="help-block">{{ form.data_publicacao.errors}}</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-11">
          <a class="btn btn-default" href="{% url 'gestao:listar_documentos' template='listar_fundos' %}">Cancelar</a>
          <button type="submit" class="btn btn-primary">Salvar</button>

        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
